<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/problem-solving.gif" alt="team-banner" />
    </div>
</div>
<div class="container">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="banker">
                        <div class="container">
                            <h5 style="text-align: center;">
                                <span style="color:#f77c00;border-bottom:1px dashed #000;">Mixtures</span>
                            </h5>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Mixture)">Concept</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="shiksha" #Mixture>
                                <h5>The Concept of
                                    <span class="heading">Mixtures</span>
                                </h5>
                                <br />
                                <p>
                                    when two or more substances mix with each other without participating in a chemical
                                    change, the resulting substance is called a Mixture.</p>

                                <ul>
                                    <li> Proportion of Milk, MP =&nbsp;
                                        <div class="frac">
                                            <span><i>Milk</i></span>
                                            <span class="symbol">/</span>
                                            <span class="bottom"><i>Total Volume</i></span>
                                        </div>
                                    </li>
                                </ul>

                                <ul>
                                    <li> Proportion of Water, WP =&nbsp;
                                        <div class="frac">
                                            <span><i>Water</i></span>
                                            <span class="symbol">/</span>
                                            <span class="bottom"><i>Total Volume</i></span>
                                        </div>
                                    </li>
                                </ul>

                                <ul>
                                    <li> % of Milk , M% =&nbsp;
                                        <div class="frac">
                                            <span><i>Milk</i></span>
                                            <span class="symbol">/</span>
                                            <span class="bottom"><i>Total Volume</i></span>
                                        </div>&nbsp;&nbsp;&nbsp;x&nbsp;100
                                    </li>
                                </ul>
                                <ul>
                                    <li> % of Water , W% =&nbsp;
                                        <div class="frac">
                                            <span><i>Water</i></span>
                                            <span class="symbol">/</span>
                                            <span class="bottom"><i>Total Volume</i></span>
                                        </div>&nbsp;&nbsp;&nbsp;x&nbsp;100
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        Ratio of milk and water is M: W
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method" #Research>
                                <h5>Our Research
                                    <span class="heading">
                                        & Findings</span>
                                </h5>
                                <br />
                                <h5 class="color">#IBPS PO</h5>
                                <p>
                                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>5.71%</b> of questions are from <b>Mixtures</b>.
                                </p>
                                <h5 class="color">#SBIPO</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>3.57%</b> of questions are from <b>Mixtures</b>.</p>
                                <h5 class="color">#TCSNQT</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 26.
                                    Out of these 26
                                    questions <b>6.09%</b> of questions are from <b>mixtures</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight" #Teaching>
                                <h5>
                                    Teaching
                                    <span class="heading">Methodology</span>
                                </h5>
                                <br />
                                <ul>
                                    <li>Concepts based solutions</li>
                                    <li>Short cut methods</li>
                                    <li>Spatial visualization</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="method" #sample>
                                <h5>Sample
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                                        Question</span>
                                </h5>
                                <br />
                                <h6><b>
                                        Two mixtures of 70% milk solution and 30% milk solutions are
                                        mixed to form 45% milk solution. In what ratio they have been
                                        mixed?
                                    </b></h6>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                            href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                            <h5>Approach-1</h5>
                                            <h6>(Concept based solution)</h6>
                                        </a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                            href="#nav-profile" role="tab" aria-controls="nav-profile"
                                            aria-selected="false">
                                            <h5>Approach-2</h5>
                                            <h6>(Short cut method)</h6>
                                        </a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                            href="#nav-contact" role="tab" aria-controls="nav-contact"
                                            aria-selected="false">
                                            <h5>Approach-3</h5>
                                            <h6>(Spatial visualization)</h6>
                                        </a>
                                    </div>
                                </nav>

                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <img src="assets/images/mixtures-1.gif" alt="mixtures" class="img-fluid">
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                        aria-labelledby="nav-profile-tab">
                                        <img src="assets/images/mixtures-2.gif" alt="mixtures" class="img-fluid">
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                        aria-labelledby="nav-contact-tab">
                                        <img src="assets/images/mixtures-3.gif" alt="mixtures" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>