<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/voiceofindustry.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Coding with
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> C#</span>
                                </h1><br>
                                <p>C# (pronounced as "C sharp") is a powerful, versatile programming language developed
                                    by Microsoft, particularly well-suited for building robust, scalable applications on
                                    the .NET framework. Our training provides you with all the resources and expertise
                                    you need to master C# .NET coding and unleash full potential. </p>

                                <p>
                                    With C# .NET, you can develop a wide range of applications, including desktop, web,
                                    mobile, cloud-based, and even gaming applications. Its syntax is intuitive and easy
                                    to learn, making it an ideal choice for both beginners and seasoned developers
                                    alike.
                                </p>

                                <p>Our training offers comprehensive sessions, hands-on exercises, and real-world
                                    projects designed to help you grasp the core concepts of C# .NET programming.
                                    Whether you're looking to build your first application or enhance your existing
                                    skills, we've got you covered.</p>

                                <p>Furthermore, we provide a supportive environment where you can connect with fellow
                                    developers, ask questions, share insights, and collaborate on projects.
                                    Additionally, our expert instructors are always available to provide guidance and
                                    assistance every step of the way.</p>

                                <p>So, if you're ready to dive into the world of C# .NET coding and take your
                                    programming skills to the next level, look no further! Join us today and embark on
                                    an exciting journey of innovation and creativity in software development.</p>
                            </div>

                        </div>
                    </div>

                    <div class="container">
                        <h1 class="mt-5">Find below the career journey (might change from company to company) of a
                            <span style="color:#f77c00;border-bottom:1px dashed #000;"> C#.Net developer </span>
                        </h1><br>

                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <b>0 to 5 Years of Experience</b>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 ">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 1 </div>
                                                    <p class="h-1 pt-5"><b>Junior .NET Developer</b></p>
                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Entry-level position</li>
                                                        <li>Works under supervision to develop and maintain .NET
                                                            applications.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 2 </div>
                                                    <p class="h-1 pt-5"><b>.NET Developer</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Gains proficiency in .NET framework</li>
                                                        <li>Starts working on more complex tasks with less supervision.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 3 </div>
                                                    <p class="h-1 pt-5"><b>Intermediate .NET Developer</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Demonstrates solid understanding of .NET concepts</li>
                                                        <li>Contributes to architecture discussions and design decisions
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 4 </div>
                                                    <p class="h-1 pt-5"><b>Senior .NET Developer</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Leads development teams</li>
                                                        <li>Mentor's junior developers</li>
                                                        <li>Involved in high-level project planning and design.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 ">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 5 </div>
                                                    <p class="h-1 pt-5"><b>Lead .NET Developer</b></p>
                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Oversees multiple development projects</li>
                                                        <li>Responsible for overall technical direction and quality.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 6 </div>
                                                    <p class="h-1 pt-5"><b>Principal .NET Developer </b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Recognized expert in .NET development</li>
                                                        <li>Provides strategic guidance for technology adoption and
                                                            innovation.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 7 </div>
                                                    <p class="h-1 pt-5"><b>.NET Architect</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Designs and implements complex .NET solutions</li>
                                                        <li>Defines coding standards and best practices</li>
                                                        <li>Ensures architectural integrity.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 8 </div>
                                                    <p class="h-1 pt-5"><b>Technical Lead</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Manages teams of developers</li>
                                                        <li>Responsible for project delivery</li>
                                                        <li>Resource allocation, and technical leadership.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <b>5 to 10 years of Experience</b>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 ">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 9 </div>
                                                    <p class="h-1 pt-5"><b>Development Manager</b></p>
                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Oversees entire software development lifecycle</li>
                                                        <li>Including planning, execution, and delivery.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 10 </div>
                                                    <p class="h-1 pt-5"><b>Director of Engineering</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Manages multiple development teams</li>
                                                        <li>Sets departmental goals, and aligns technology initiatives
                                                            with
                                                            business objectives.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 11 </div>
                                                    <p class="h-1 pt-5"><b>VP of Engineering</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Sets strategic direction for technology development</li>
                                                        <li>Collaborates with executive leadership on company-wide
                                                            initiatives.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 12 </div>
                                                    <p class="h-1 pt-5"><b>Chief Technology Officer (CTO) </b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Shapes technology vision, drives innovation
                                                        </li>
                                                        <li>Ensures alignment between technology and business
                                                            strategies.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 ">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 13 </div>
                                                    <p class="h-1 pt-5"><b>Chief Information Officer (CIO)</b></p>
                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Oversees all aspects of information technology, including
                                                            infrastructure, systems, and software development
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 14 </div>
                                                    <p class="h-1 pt-5"><b>Chief Operating Officer (COO) </b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Responsible for day-to-day operations, including technology
                                                            infrastructure and development processes.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 15 </div>
                                                    <p class="h-1 pt-5"><b>Chief Executive Officer (CEO)</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Ultimate authority on company direction, sets overall vision
                                                            and
                                                            strategy, may have a background in technology.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 16 </div>
                                                    <p class="h-1 pt-5"><b> Board Member </b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Provides strategic guidance at the board level, influences
                                                            company direction and long-term planning.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <b>10 and above years of Experience</b>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 ">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 17 </div>
                                                    <p class="h-1 pt-5"><b>Technology Advisor</b></p>
                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Offers expert advice to companies on technology strategy,
                                                            innovation, and implementation.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 18 </div>
                                                    <p class="h-1 pt-5"><b>Industry Thought Leader</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Recognized authority in the .NET community, contributes to
                                                            industry publications, speaks at conferences, and advises on
                                                            best practices.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 19 </div>
                                                    <p class="h-1 pt-5"><b>Consultant</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Provides specialized expertise to organizations on .NET
                                                            development, architecture, and strategy.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 20 </div>
                                                    <p class="h-1 pt-5"><b>Investor</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Invests in .NET startups or technology ventures, providing
                                                            funding and strategic guidance.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 21 </div>
                                                    <p class="h-1 pt-5"><b>Philanthropist </b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Uses wealth and influence to support technology education,
                                                            innovation, and community development.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 22 </div>
                                                    <p class="h-1 pt-5"><b>Mentor</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Provides guidance and support to aspiring .NET developers,
                                                            helping to shape the next generation of talent.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 23 </div>
                                                    <p class="h-1 pt-5"><b> Legacy Builder </b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Leaves a lasting impact on the .NET community through
                                                            contributions, innovations, and mentorship.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 24 </div>
                                                    <p class="h-1 pt-5"><b> Legend </b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Attains legendary status in the .NET field, remembered for
                                                            significant contributions, breakthroughs, and leadership.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>