<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/problem-solving.gif" alt="problem-solving-banner" />
    </div>
</div>
<div class="container">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="banker">
                        <div class="container">
                            <h5 style="text-align: center;">
                                <span style="color:#f77c00;border-bottom:1px dashed #000;">Puzzles</span>
                            </h5><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Puzzles)">Concept</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="shiksha" #Puzzles>
                                <h5>The Concept of

                                    <span class="heading">Puzzles</span>
                                </h5>
                                <br />
                                <p>
                                    This section comprises of questions put in the form of puzzles involving certain
                                    number of items, be it persons or things. The candidate is required to analyse the
                                    given information, condense it in a suitable form and answer the questions asked.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method" #Research>
                                <h5>Our Research
                                    <span class="heading">
                                        & Findings</span>
                                </h5>
                                <br />
                                <h5 class="color">#IBPS PO</h5>
                                <p>
                                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>2.86%</b> of questions are from <b>Puzzles</b>.
                                </p>
                                <h5 class="color">#SBIPO</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>3.57%</b> of questions are from <b>Puzzles</b>.</p>
                                <h5 class="color">#TCSNQT</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 26.
                                    Out of these 26
                                    questions <b>3.53%</b> of questions are from <b>Puzzles</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight" #Teaching>
                                <h5>
                                    Teaching
                                    <span class="heading">Methodology</span>
                                </h5>
                                <br />
                                <ul>
                                    <li>Concepts based solutions</li>
                                    <li>Short cut methods</li>
                                    <li>Spatial visualization</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method" #sample>
                                <h5>Sample
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                                        Question</span>
                                </h5>
                                <br />
                                <h6><b>The questions on Puzzle Test may be of any of the following types:
                                    </b></h6>
                                <p>I. Classification Type Questions </p>
                                <p>II. Seating/Placing Arrangements</p>
                                <p>III. Comparison Type Questions</p>
                                <p>IV. Sequential order of things</p>
                                <p>V. Selection based on given conditions</p>
                                <p>VI. Questions involving family members — their relationship, their professions, their
                                    preferences etc.</p>
                                <p>VII. Jumbled up Problems</p>

                                <h6><b>Q: Read the following information carefully and answer the questions that follow:
                                    </b></h6>

                                <p>(i) Five friends P, Q, R. S and T travelled to five different cities of Chennai,
                                    Calcutta, Delhi, Bangalore and Hyderabad by five different modes of transport of
                                    Bus. Train, Aeroplane, Car and Boat from Mumbai.</p>
                                <p>(ii) The person who travelled to Delhi did not travel by boat</p>
                                <p>(iii) R went to Bangalore by car and Q went to Calcutta by aeroplane.</p>
                                <p>(iv) S travelled by boat whereas T travelled by train.</p>
                                <p>(v) Mumbai is not connected by bus to Delhi and Chennai.</p>

                                <h6><b>1. Which of the following combinations of person and mode is not correct?
                                    </b></h6>
                                <p>(a) P — Bus</p>
                                <p>(b) Q — Aeroplane</p>
                                <p>(c) R — Car</p>
                                <p>(d) S — Boat</p>
                                <p>(e) T — Aeroplane</p>
                                <h6><b>2. Which of the following combinations is true for S?
                                    </b></h6>
                                <p>(a) Delhi — Bus</p>
                                <p>(b) Chennai — Bus</p>
                                <p>(c) Chennai — Boat</p>
                                <p>(d) Data Inadequate</p>
                                <p>(e) None of these</p>
                                <h6><b>3. Which of the following combinations of place and mode is not correct?
                                    </b></h6>
                                <p>(a) Delhi — Bus</p>
                                <p>(b) Calcutta — Aeroplane</p>
                                <p>(c) Bangalore — Car</p>
                                <p>(d) Chennai -4- Boat</p>
                                <p>(e) Hyderabad — Bus</p>
                                <h6><b>4. The person travelling to Delhi went by which of the following modes?
                                    </b></h6>
                                <p>(a) Bus</p>
                                <p>(b) Train</p>
                                <p>(c) Aeroplane</p>
                                <p>(d) Car</p>
                                <p>(e) Boat</p>
                                <h6><b>5. Who among the following travelled to Delhi?
                                    </b></h6>
                                <p>(a) R</p>
                                <p>(b) S</p>
                                <p>(c) T</p>
                                <p>(d) Data Inadequate</p>
                                <p>(e) None of these</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                            href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                            <h5>Approach-1</h5>
                                            <h6>(Concept based solution)</h6>
                                        </a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                            href="#nav-profile" role="tab" aria-controls="nav-profile"
                                            aria-selected="false">
                                            <h5>Approach-2</h5>
                                            <h6>(Short cut method)</h6>
                                        </a>

                                    </div>
                                </nav>




                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <img src="assets/images/puzzle-1.gif" alt="ages" class="img-fluid">
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                        aria-labelledby="nav-profile-tab">
                                        <img src="assets/images/puzzles-2.gif" alt="ages" class="img-fluid">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>