<div class="container-fluid">
    <div class="banner">
      <img src="assets/images/problem-solving.gif" alt="problem-solving-banner" />
    </div>
  </div>
  <div class="container">
    <div class="banking">
      <div class="row">
        <div class="col-md-12 order-2 order-md-1">
          <div class="left">
            <div class="banker">
              <div class="container">
                <h5 style="text-align: center;">
                  <span style="color:#f77c00;border-bottom:1px dashed #000;">Set Theory</span></h5><br>
                <div class="row">
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Set)">Concept</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="shiksha" #Set>
                  <h5>The Concept of
  
                    <span class="heading">Set Theory</span>
                  </h5>
                  <br />
                  <p>
                    Set theory is the mathematical theory of well-determined collections, called sets, of objects that are called members, or elements, of the set. Pure set theory deals exclusively with sets, so the only sets under consideration are those whose members are also sets. The theory of the hereditarily-finite sets, namely those finite sets whose elements are also finite sets, the elements of which are also finite, and so on, is formally equivalent to arithmetic. So, the essence of set theory is the study of infinite sets, and therefore it can be defined as the mathematical theory of the actual—as opposed to potential—infinite.
                  </p>
                  <p>
                    The notion of set is so simple that it is usually introduced informally, and regarded as self-evident. In set theory, however, as is usual in mathematics, sets are given axiomatically, so their existence and basic properties are postulated by the appropriate formal axioms. The axioms of set theory imply the existence of a set-theoretic universe so rich that all mathematical objects can be construed as sets. Also, the formal language of pure set theory allows one to formalize all mathematical notions and arguments. Thus, set theory has become the standard foundation for mathematics, as every mathematical object can be viewed as a set, and every theorem of mathematics can be logically deduced in the Predicate Calculus from the axioms of set theory.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="container">
              <div class="row">
                <div class="method" #Research>
                  <h5>Our Research
                    <span class="heading">
                      & Findings</span>
                  </h5>
                  <br />
                  <h5 class="color">#IBPS PO</h5>
                  <p>
                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 35. Out of these 35
                    questions <b>2.86%</b> of questions are from <b>Set Theory</b>.
                  </p>
                  <h5 class="color">#SBIPO</h5>
                  <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 35. Out of these 35
                    questions <b>3.57%</b> of questions are from <b>Set Theory</b>.</p>
                  <h5 class="color">#TCSNQT</h5>
                  <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 26. Out of these 26
                    questions <b>3.53%</b> of questions are from <b>Set Theory</b>.</p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="highlight" #Teaching>
                  <h5>
                    Teaching
                    <span class="heading">Methodology</span>
                  </h5>
                  <br />
                  <ul>
                    <li>Concepts based solutions</li>
                    <li>Short cut methods</li>
                    <li>Spatial visualization</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="method" #sample>
                  <h5>Sample
                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                      Question</span>
                  </h5>
                  <br />
                  <h6><b>70% of the people like Coffee, 80% of the people like Tea; then at least what % of people like both?
                    </b></h6>
                </div>
              </div>
            </div>
  
           <div class="container">
              <div class="row">
                <div class="method">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">
                        <h5>Approach-1</h5>
                        <h6>(Concept based solution)</h6>
                      </a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">
                        <h5>Approach-2</h5>
                        <h6>(Short cut method)</h6>
                      </a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">
                        <h5>Approach-3</h5>
                        <h6>(Spatial visualization)</h6>
                      </a>
                    </div>
                  </nav>
  
  
  
  
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <img src="assets/images/set-1.gif" alt="ages" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <img src="assets/images/set-2.gif" alt="ages" class="img-fluid"></div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <img src="assets/images/set-3.gif" alt="ages" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  