<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/voiceofindustry.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Voice of
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Industry"</span>
                                </h1><br>
                                <p>Welcome to Voice of Industry, where perspectives from the heart of business resonate.
                                    We are a platform dedicated to amplifying the voices of entrepreneurs, innovators,
                                    and leaders across various sectors. Our mission is to provide a forum for industry
                                    experts to share insights, experiences, and knowledge, shaping the discourse around
                                    key challenges and opportunities in today's dynamic business landscape. Through
                                    thought-provoking articles, interviews, and opinion pieces, we aim to foster
                                    meaningful conversations that drive progress and innovation. Whether you're a
                                    seasoned executive, a budding entrepreneur, or simply passionate about getting into
                                    the corporate world, Voice of Industry offers a wealth of valuable content to
                                    inform, inspire, and empower. </p>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>