<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/finishingschool.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Finishing School
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;">- SFS</span>
                                </h1><br>
                                <p>The sole objective of Finishing School is to make students ready for industry. We
                                    believe in a “Consistent Training Model”</p>
                                <h1 class="mt-5">Abstract</h1><br>
                                <p>Skills are acquired; but not overnight. The students have to acquire knowledge and
                                    the same has to be transformed to skill. Skill Lens Finishing School (SFS) is a
                                    place for students who aspire to acquire job skills as per the standards of the
                                    industry. At SFS we emphasize on overall personality development. The skill set
                                    offered are industry/job specific. At our finishing SCHOOL each student is offered
                                    personal attention and the outcomes are pre-defined.
                                </p>


                            </div>

                        </div>
                    </div>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="method">
                                <div class="container">
                                    <div class="row ">
                                        <div class="col-6 col-lg-2 col-md-2 mostselling sell">
                                            <div class="icons mx-auto">
                                                <!-- <a [routerLink]="['/problem-solving']"><img
                                                        src="assets/images/problem-solving-bnr.png"
                                                        alt="problem solving"></a> -->
                                                <h1 class="school">S</h1>
                                            </div>
                                            <p class="mostselling">Become <br> <b> Successful</b></p>
                                        </div>

                                        <div class="col-6 col-lg-2 col-md-2 mostselling sell">
                                            <div class="icons mx-auto">
                                                <!-- <a [routerLink]="['/coding-with-cds']"><img
                                                        src="assets/images/coding-cds-bnr.png" alt="coding with cds">
                                                </a> -->
                                                <h1 class="school">C</h1>
                                            </div>
                                            <p class="mostselling">Gain <br> <b>Confidence</b></p>
                                        </div>

                                        <div class="col-6 col-lg-2 col-md-2 mostselling sell">
                                            <div class="icons mx-auto">
                                                <!-- <a [routerLink]="['/coding-with-java']"><img
                                                        src="assets/images/java.png" alt="java">
                                                </a> -->
                                                <h1 class="school">H</h1>
                                            </div>
                                            <p class="mostselling">Aquire <br> <b> Holistic Development</b></p>
                                        </div>

                                        <div class="col-6  col-lg-2 col-md-2 mostselling sell">
                                            <div class="icons mx-auto">
                                                <!-- <a [routerLink]="['/english-verbal']"> <img
                                                        src="assets/images/english-verbal-bnr.png"
                                                        alt="english verbal"></a> -->
                                                <h1 class="school">O</h1>
                                            </div>
                                            <p class="mostselling">Think <br> <b> Out of the Box</b></p>
                                        </div>

                                        <div class="col-6 col-lg-2 col-md-2 mostselling sell">
                                            <div class="icons mx-auto">
                                                <!-- <a [routerLink]="['/interview-presentation']"><img
                                                        src="assets/images/presentation-interview-bnr.png"
                                                        alt="Presentation and interview"></a> -->
                                                <h1 class="school">O</h1>
                                            </div>
                                            <p class="mostselling">Perform <br> <b>Optimally</b></p>
                                        </div>

                                        <div class="col-6 col-lg-2 col-md-2 mostselling sell">
                                            <div class="icons mx-auto">
                                                <!-- <a [routerLink]="['/e-assessment']" fragment="mockassessments"><img
                                                        src="assets/images/assessment.png " alt="assessment "></a> -->
                                                <h1 class="school">L</h1>
                                            </div>
                                            <p class="mostselling">Ability to <br> <b>Lead</b> </p>


                                        </div>
                                    </div>
                                </div>
                                <p class="mt-5">At SFS skill building becomes the learning life style. It’s not just the
                                    job skills
                                    are learnt, the student’s development is focused on imparting intellectual, mental,
                                    emotional, and social abilities. The students are made ready to face the demands,
                                    expectations and challenges of everyday life.
                                </p>

                                <h1 class="mt-5">Modality</h1><br>
                                <p>The Finishing School program runs through four semesters (Second year first semester
                                    to Third Year Second semester).
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <hr> -->
                    <div class="container mt-5">
                        <div class="row">
                            <div class="who">
                                <h1>The whole program is divided into
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> 4 stages</span>
                                </h1><br>
                                <table class="custom_table d-none d-sm-block">
                                    <thead>
                                        <tr>
                                            <th>Academic Semister</th>
                                            <th>Stage / Module</th>
                                            <th>Problem Solving Skills</th>
                                            <th>English & Verbal Skills</th>
                                            <th>Technolgy</th>
                                            <th>Presentation & Interview Skills</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2nd Year - I Semister</td>
                                            <td>Building Self</td>
                                            <td>30%</td>
                                            <td>30%</td>
                                            <td>20%</td>
                                            <td>20%</td>
                                        </tr>
                                        <tr>
                                            <td>2nd Year - II Semister</td>
                                            <td>Building Technological Skills</td>
                                            <td>30%</td>
                                            <td>30%</td>
                                            <td>30%</td>
                                            <td>10%</td>
                                        </tr>
                                        <tr>
                                            <td class="aligncenter" colspan="6" align="center"><b>Summer Internship -
                                                    1</b></td>
                                        </tr>
                                        <tr>
                                            <td>3rd Year - I Semister</td>
                                            <td>Upgrading Technological Skills</td>
                                            <td>30%</td>
                                            <td>30%</td>
                                            <td>30%</td>
                                            <td>10%</td>
                                        </tr>
                                        <tr>
                                            <td>3rd Year - II Semister</td>
                                            <td>Ready Professional</td>
                                            <td>10%</td>
                                            <td>10%</td>
                                            <td>20%</td>
                                            <td>60%</td>
                                        </tr>
                                        <tr>
                                            <td class="aligncenter" colspan="6" align="center"><b>Summer Internship -
                                                    2</b></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table mobiletable d-block d-sm-none">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Stage 1: 2nd Year - I Semister - Building Self</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>Problem Solving Skills</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>English & Verbal Skills</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>Technology</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Presentation & Interview Skills</td>
                                        <td>20%</td>
                                    </tr>
                                    <thead>
                                        <tr>
                                            <th colspan="2">Stage 2: 2nd Year - II Semister - Building Technological
                                                Skills</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>Problem Solving Skills</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>English & Verbal Skills</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>Technology</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>Presentation & Interview Skills</td>
                                        <td>10%</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" align="center"><b>Summer Internship - 1</b></td>
                                    </tr>


                                    <thead>
                                        <tr>
                                            <th colspan="2">Stage 3: 3rd Year - I Semister - Upgrading Technological
                                                Skills</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>Problem Solving Skills</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>English & Verbal Skills</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>Technology</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Presentation & Interview Skills</td>
                                        <td>10%</td>
                                    </tr>

                                    <thead>
                                        <tr>
                                            <th colspan="2">Stage 4: 3rd Year - II Semister - Ready Professional</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>Problem Solving Skills</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>English & Verbal Skills</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Technology</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Presentation & Interview Skills</td>
                                        <td>60%</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" align="center"><b>Summer Internship - 2</b></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <h1>Benefits to the
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> College</span>
                                </h1><br>

                                <ul>
                                    <li>Become preferred partner for companies</li>
                                    <li>Recruitment hub for industry</li>
                                    <li>Increase in the success rate of campus selections</li>
                                    <li>Can grow as a hub for industry innovation</li>
                                    <li>Can demand for high packages</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="container mt-3">

                        <div class="row">
                            <div class="shiksha method">
                                <h1 class="mt-3">Benefits to the
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Students</span>
                                </h1><br>
                                <ul>
                                    <li>Holistic development – Technology, Problem solving skills and Behavioural</li>
                                    <li>Will be ready to secure job in IT service company / IT product company / Core
                                        engineering company</li>
                                    <li>Develop innovation capabilities and research</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-6">
                                <div class="method">
                                    <h1>Skills Nurtured
                                        <!-- <span style="color:#f77c00;border-bottom:1px dashed #000;"> College</span> -->
                                    </h1><br>

                                    <ul>
                                        <li>Problem Solving (Quantitative Aptitude, Logical Reasoning)s</li>
                                        <li>English Verbal Ability</li>
                                        <li>Technical Skills</li>
                                        <li>Presentation & Interview Skills</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="method">
                                    <h1>Eligibility
                                        <!-- <span style="color:#f77c00;border-bottom:1px dashed #000;"> Students</span> -->
                                    </h1><br>
                                    <ul>
                                        <li>Selection Criteria</li>
                                        <li>Pre Assessment Test</li>
                                        <li>Personal Interview</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="container mt-3">
                        <div class="row">
                            <div class="shiksha method">
                                <h1 class="mt-3">Eligibility
                                </h1><br>
                                <ul>
                                    <li>Selection Criteria</li>
                                    <li>Pre Assessment Test</li>
                                    <li>Personal Interview</li>
                                </ul>
                            </div>
                        </div>
                    </div> -->

                </div>

            </div>
        </div>
    </div>