<div class="tab_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="tab_bnr">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="tab_img">
                                <h1><img id="one" src="assets/images/about-skilllens.png" alt="about-skilllens"></h1>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="tab_img">
                                <h1><img id="two" src="assets/images/problem-statement.png" alt="problem-statement">
                                </h1>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="tab_img">
                                <h1><img id="three" src="assets/images/case-studies.png" alt="case-studies"></h1>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="tab_img">
                                <h1><img id="four" src="assets/images/our-solution.png" alt="our-solution"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab section-->
<div class="tab_sec">
    <div class="container">
        <!-- Nav tabs -->
        <div class="link_sec">
            <ul class="nav nav-tabs tab_menu">
                <li class="nav-item">
                    <a class="nav-link active" id="ones" data-bs-toggle="tab" data-bs-target="#home">About Skill
                        Lens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="twos" data-bs-toggle="tab" data-bs-target="#menu1">Problem Statement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="threes" data-bs-toggle="tab" data-bs-target="#menu2">Case Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="fours" data-bs-toggle="tab" data-bs-target="#menu3">Our Solution</a>
                </li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content tab_section">
            <div id="home" class="container tab-pane active tab_content"><br>

                <p>To become successful in life, we need skills. The skills we acquire will decide over destiny.
                    Employers / Entrepreneurs look for skilled people to manage and run their businesses. Many a time,
                    we generally assume that knowledge helps us
                    become successful and reach our goals. But, knowledge has to be transformed to skill to become
                    successful and reach our goals. Knowledge comes from listening, watching or reading information and
                    theoretical concepts. This knowledge
                    helps us face situations (both job and life related). But, when we encounter a situation, we have to
                    deal with the situation. The mechanism of applying our knowledge to deal with various situations we
                    encounter requires "SKILL". Skill
                    is applying our knowledge to situations.
                </p>
                <div class="container">
                    <div class="row">



                        <div class=" col-md-12">
                            <div class=" story">
                                <img src="assets/images/boat.jpg" alt="skilllens boat" class="img-fluid" width="250"
                                    height="200">
                                <p>To be more precise and simple. Let us recollect the age-old story of our childhood.
                                    The story is about a pandit (knowledgeable person) who got into a boat to cross a
                                    river. During his journey, the boat sailor started talking
                                    to the pandit. The pandit was not interested as he had an inner feeling that the
                                    boat sailor is ill literate and it's an insult for him to talk with the sailor. So,
                                    he though of teaching a lesson to the boat sailor.
                                    The pandit asked the boat sailor if he had read any holy books and know the
                                    philosophy of life? The boat sailor was dumb and said a big NO. The pandit
                                    immediately had a big laugh on his face at the sailor and with huge
                                    pride said you have wasted your whole-life. The humble sailor had nothing to say and
                                    continued to row the boat. After few minutes, the boat got damaged and the water
                                    started flowing into the boat. The boat sailor saw
                                    this and asked the pandit Sir, do you know swimming? Now, the pandit replied with a
                                    big NO. The sailor said, I'm extremely Sorry!. The boat is sinking, and we have to
                                    jump into the river and swim to the shore to save
                                    our life's.
                                </p>
                            </div>

                        </div>



                    </div>

                </div>
                <p>If we analyse the above situation, the boat sailor had skills to deal with the above extreme
                    situation. On the other had, the pandit has acquired huge knowledge which helped him understand the
                    extreme situation but was not having skill
                    to deal with the situation. As a result the boat sailor could save his life with the skills he
                    acquired. On the other-hand, even though blessed with huge knowledge, the pandit had drowned.
                </p>
                <p>To succeed in one's life and career, we should acquire skills. Skills can not be acquired
                    instantaneously. Skills are results of huge efforts. The efforts should also be combined with
                    patience and perseverance.
                </p>
                <p>Skill Lens is developed as an integrated technology enabled platform to make Learning (Shiksha) and
                    Assessment (Sameeksha) happen simultaneously, finally get noticed by companies / recruiter
                    (Pratibha).
                </p>
                <div class="container">
                    <div class="row">
                        <div class=" col-md-6">

                            <div class="skills">
                                <img src="assets/images/vision.png" alt="vision">
                                <h1 class="color">Vision</h1>
                                <p>We believe skills can be acquired. Our vision is to make skill-building process -
                                    Technology enabled with focus on effective self paced learning
                                </p>


                            </div>
                        </div>
                        <div class=" col-md-6">

                            <div class="skills">
                                <img src="assets/images/mission.png" alt="mission">
                                <h1 class="color">Mission</h1>
                                <p>Become preferred learning platform for skill building and upgradation across the
                                    globe.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div id="menu1" class="container tab-pane fade tab_content"><br>

                <p>India is a nation where every parent dreams and strives hard to provide the best education to their
                    children. Parents believe that education can help their children to lead a better life. The increase
                    in employment opportunities adds more
                    confidence to their belief. Even though there is an increase in the opportunities, the number of
                    students who grab the opportunities after completion of their education are very less.
                </p>
                <p>The major reason for not finding the right opportunities after completion of education is the
                    <b>"Skill Gap"</b>. We define Skill Gap as the gap between the expectations of the employer to the
                    actual skill possessed by the aspirants. If
                    we critically analyze this gap, to fill this gap the aspirants have to upgrade their skill forte.
                </p>
                <div class="skillgap">
                    <img src="assets/images/skillgap.gif" class="img-fluid" alt="skillgap">
                </div>

            </div>
            <div id="menu2" class="container tab-pane fade tab_content"><br>

                <div class="container">
                    <div class="offer">



                        <div class="container">
                            <div class="row">



                                <div class="col-lg-4 col-md-6">
                                    <div class="skills">
                                        <img src="assets/images/skill-report-aicte.png" alt="skill-report-aicte">
                                        <h1>Case Study - 1 </h1>
                                        <p>India Skill Report AICTE - India</p>

                                        <a class="sign"
                                            href="https://www.aicte-india.org/sites/default/files/India%20Skill%20Report-2019.pdf"
                                            target="_blank">More</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="skills">
                                        <img src="assets/images/skill-report-nsdc.png" alt="skill-report-nsdc">
                                        <h1>Case Study - 2 </h1>
                                        <p>Skill Reports - NSDC India</p>

                                        <a class="sign" href="https://nsdcindia.org/nsdcreports"
                                            target="_blank">More</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="skills">
                                        <img src="assets/images/skill-report-msde.png" alt="skill-report-msde">
                                        <h1>Case Study - 3 </h1>
                                        <p>Skill Gap Reports - MSDE India</p>

                                        <a class="sign" href="http://msde.gov.in/executive-summary-report.html"
                                            target="_blank">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div id="menu3" class="container tab-pane fade tab_content"><br>

                <h1 class="text-center">Why <span class="heading">Skill Lens ?</span></h1>

                <p>Skill Lens is a one-stop solution for aspirants who aim to build and upgrade skills. Our learning and
                    assessment solutions are technology enabled and integrated to provide the best possible
                    skill-building platform</p>
                <p>Our instructional design ensures an effective learning experience for each aspirant. The learning
                    content is developed by instructors who have a proven track record in the education industry.
                </p>
                <hr>

                <h1 class="text-center">USP of<span class="heading"> Skill Lens</span></h1>

                <ul>
                    <li>Learner Centric course design
                    </li>
                    <li>Technology enabled Learning platform coupled with in-line assessment platform
                    </li>
                    <li>Asynchronous learning environment - Learn at your ease of time and place
                    </li>
                    <li>Supports multiple devices - Our learning courses work on Desktop / Laptop / Smart phone / Tablet
                    </li>
                    <li>Pocket friendly price
                    </li>
                    <li>One to One learning
                    </li>
                    <li>Self-paced learning
                    </li>
                </ul>
                <hr>
                <h1 class="text-center">Why should we<span class="heading"> learn online ?</span></h1>

                <p>E-learning is the New Learning. Online learning reduces our effort and time connected with physical
                    movement, is also cost-effective. As a learner, you would have the flexibility to choose your course
                    topics and create your own learning
                    environment. Through online, you can reach the best instructors across the world.
                </p>
                <p>With the changing learning scenarios, many world-renowned universities are offering their courses
                    online which are valued and accepted across the world.
                </p>
            </div>
        </div>
    </div>
</div>