<div class="container-fluid">
  <div class="banner">
    <img src="assets/images/banners/companyspecifictraining.png" alt="e-learning-banner">
  </div>
</div>
<div class="container-fluid">
  <div class="banking">
    <div class="row">
      <div class="col-md-12 order-2 order-md-1">
        <div class="left">
          <div class="container">
            <div class="row">
              <div class="shiksha">
                <h1>Company Specific
                  <span style="color:#f77c00;border-bottom:1px dashed #000;"> Training</span>
                </h1><br>
                <p>Company Specific Training programs are specially tailored to meet company
                  requirements for a group of aspirants. Company Specific training is frequently
                  performed on-site. As a training partner, we may follow a pre-screening process that
                  is propelled by industry experts. The training will be a combination of training
                  offered by both traditional and industry experts.
                </p>
              </div>

            </div>
          </div>


          <div class="container">
            <div class="row">
              <div class=" method">
                <div class="row">
                  <div class="col-12 col-sm-5 offset-1">
                    <h1 class="mt-3">Our
                      <span style="color:#f77c00;border-bottom:1px dashed #000;"> Expertise</span>
                    </h1><br>
                    <ul>
                      <li>TCS Ninja ability</li>
                      <li>TCS Digital</li>
                      <li>WIPRO NQT</li>
                      <li>INFYTQ</li>
                    </ul>
                  </div>

                  <div class="col-12 col-sm-5">
                    <h1 class="mt-3">Our
                      <span style="color:#f77c00;border-bottom:1px dashed #000;"> Approach</span>
                    </h1><br>
                    <ul>
                      <li>Pre-Training screening</li>
                      <li>Tailor-made training based on pre-training screening</li>
                      <li>Continuous assessments</li>
                      <li>Performance Evaluations</li>
                      <li>Personalized mentoring</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="container mt-5 mb-5">
            <div class="row">
              <div class="shiksha">
                <h1>Niche
                  <span style="color:#f77c00;border-bottom:1px dashed #000;"> Training</span>
                </h1><br>
                <p>Niche training is designed based on client requirements; these trainings are not
                  suitable for all the students as the training might require prerequisites. These
                  trainings are generally delivered for institutions where the campus hiring companies
                  look for a trained talent pool.
                </p>
                <ul>
                  <li>IOS</li>
                  <li>Android</li>
                  <li>Angular</li>
                </ul>
              </div>

            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>
