<section id="footer">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home</a>
                    </li>
                    <li><a [routerLink]="['/aboutus']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            About</a></li>
                    <li><a [routerLink]="['/leadership']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Leadership</a></li>
                    <!-- <li><a [routerLink]="['/careers']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Careers</a></li> -->
                    <li><a [routerLink]="['/finishing-school']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Finishing School</a></li>
                    <li><a [routerLink]="['/campus-recruitment-training']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Campus Recruitment Training</a></li>
                    <li><a [routerLink]="['/company-specific-training']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Company Specific Training</a></li>
                    <li><a [routerLink]="['/hiring-assessments']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Hiring Assessments</a></li>
                    <li><a [routerLink]="['/workshops-seminars']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Workshops & Seminars</a></li>
                    <li><a [routerLink]="['/corporate-training']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Corporate Training</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Community </h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/terms']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Terms
                            and Conditions</a></li>
                    <li><a [routerLink]="['/privacy-policy']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i> Privacy
                            Policy</a></li>
                    <li><a [routerLink]="['/refund-policy']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Refund Policy</a></li>
                    <li><a [routerLink]="['/data-policy']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Data Policy</a></li>
                    <li><a [routerLink]="['/subscription-policy']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Subscription Policy</a></li>
                    <li><a [routerLink]="['/disclaimer']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Disclaimer</a></li>
                </ul>


            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Our Services</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/e-learning']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Shiksha</a></li>
                    <li><a [routerLink]="['/e-assessment']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Sameeksha</a></li>
                    <li><a [routerLink]="['/freshers-recruitment']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Pratibha</a></li>
                </ul>
                <br><br>
                <h5>Life Skills</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/problem-solving']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Problem Solving</a></li>
                    <li><a [routerLink]="['/english-verbal']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            English & Verbal</a></li>
                    <li><a [routerLink]="['/interview-presentation']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Presentation & Interview</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="mailto:info@skilllens.com">Email: info@skilllens.com</a></li>
                    <li><a href="tel:9490124655">Phone: +91 9490124655</a></li>
                </ul>

                <ul class="list-inline list-unstyled social-icon" style="margin-top: 15px;">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/skilllens" rel="noopener" target="_blank"><img
                                src="assets/images/twitter.jpg" alt="twitter"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/skilllens" rel="noopener" target="_blank"><img
                                src="assets/images/fb.jpg" alt="fb"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/skilllens" rel="noopener" target="_blank"><img
                                src="assets/images/linkedin.jpg" alt="linkedin"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCY_GL5DzyeA7QrIKIGEBGGQ" rel="noopener"
                            target="_blank"><img src="assets/images/youtube.jpg" alt="youtube"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/skilllens/" rel="noopener" target="_blank"><img
                                src="assets/images/insta.jpg" alt="instagram"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://t.me/skilllens" rel="noopener" target="_blank"><img
                                src="assets/images/telegram.jpg" alt="telegram"></a>
                    </li>
                </ul>
                <ul class="list-inline list-unstyled" style="margin-top: 15px;">
                    <li class="list-inline-item">Recognized by</li>
                    <li class="mobileView"><img src="assets/images/startup-india-logo.png" class="img-fluid"></li>
                    <li class="list-inline-item"><img src="assets/images/msme.jpeg" width="80%" height="150px"
                            style="float:left">
                    </li>
                </ul>

            </div>

        </div>

        <!-- <hr>
        <h6 style="color: #f77c00;"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Learning Courses</h6>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">

                <h5>Coding</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/coding-with-cds']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i> C
                            Language & Data Structures</a></li>
                    <li><a [routerLink]="['/digital-marketing']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Digital Marketing</a></li>
                    <li><a [routerLink]="['/angular']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Angular</a></li>
                    <li><a [routerLink]="['/dot-net']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Dot
                            Net</a></li>
                    <li><a [routerLink]="['/machine-learning']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Machine Learning</a></li>
                    <li><a [routerLink]="['/artificial-intelligence']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Artifical Intelligence</a></li>
                    <li><a [routerLink]="['/python']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Python</a></li>
                    <li><a [routerLink]="['/web-design-development']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Web Design & Development</a></li>
                    <li><a [routerLink]="['/coding-with-java']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Java</a></li>
                </ul>
            </div>


            <div class="col-xs-12 col-sm-3 col-md-3">

                <h5>English & Verbal</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/english-verbal']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i> Writing
                            Skills</a></li>
                    <li><a [routerLink]="['/english-verbal']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i> Speaking
                            Skills</a></li>


                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">

                <h5>Problem Solving</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/problem-solving']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Aptitude</a></li>
                    <li><a [routerLink]="['/problem-solving']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Reasoning</a></li>


                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">

                <h5>Presentation & Interview</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/interview-presentation']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Interview Skills</a></li>
                    <li><a [routerLink]="['/interview-presentation']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Group Discussion Skills</a></li>
                    <li><a [routerLink]="['/interview-presentation']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Presentation Skills</a></li>

                </ul>
            </div>
        </div> -->
        <!-- <hr>
        <h6 style="color: #f77c00;"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Assessments</h6>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">

                <h5>Banking</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/ibps-po']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> IBPS
                            - Probationary Officer</a></li>
                    <li><a [routerLink]="['/ibps-clerk']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            IBPS - Clerk</a></li>
                    <li><a [routerLink]="['/sbi-po']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> SBI -
                            Probationary Officer</a></li>
                    <li><a [routerLink]="['/sbi-clerk']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> SBI
                            - Clerk</a></li>

                </ul><br>
                <h5>Insurance</h5>
                <ul class="list-unstyled quick-links">

                    <li><a [routerLink]="['/lic-assistant']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            LIC
                            - Assistant</a></li>
                    <li><a [routerLink]="['/irda']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> IRDA
                        </a></li>

                </ul>


            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">

                <h5>Company Specific</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/tcs-digital']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Mock TCS Digital</a></li>
                    <li><a [routerLink]="['/tcs-ninja']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Mock TCS Ninja</a></li>
                    <li><a [routerLink]="['/wipro']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Mock
                            Wipro NQT</a></li>
                    <li><a [routerLink]="['/infytq']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Mock
                            INFYTQ</a></li>

                </ul>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>RRB</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/rrb-group-d']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            RRB Group D</a></li>
                    <li><a [routerLink]="['/rrb-ntpc']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> RRB
                            NTPC</a></li>
                    <li><a [routerLink]="['/rrb-je']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> RRB
                            JE</a></li>
                    <li><a [routerLink]="['rrb-alp']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> RRB
                            ALP</a></li>

                </ul>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">

                <h5>SSC</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/ssc-cgl']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> SSC
                            CGL</a></li>
                    <li><a [routerLink]="['/ssc-chsl']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> SSC
                            CHSL</a></li>
                </ul>
                <br>
                <h5>Higher Education</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/cat']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> CAT</a>
                    </li>
                    <li><a [routerLink]="['/ap-icet']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> AP
                            ICET</a></li>
                    <li><a [routerLink]="['/ts-icet']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> TS
                            ICET</a></li>
                    <li><a [routerLink]="['/tissnet']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            TISSNET</a></li>
                    <li><a [routerLink]="['/tissmat']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            TISSMAT</a></li>
                </ul>

            </div>
        </div>-->

        <hr>

        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 ">
            <h6 style="padding-bottom: 10px !important;">© 2024 All rights Reserved.<a class="text-color ml-2"
                    [routerLink]="['/']" routerLinkActive="router-link-active" target="_blank">&nbsp; SKILL LENS</a>
            </h6>
        </div>
    </div>
</section>

<!-- <div id="mySidenav" class="sidenav">

  <div class="frm_side">
    <h2><i class="fa fa-phone" aria-hidden="true"></i> Request a call back</h2>

    <form class="frm_page" #Quote="ngForm" (ngSubmit)="Quote.valid && RequestQuote(Quote)" name="Quote">
      <div class="form-group">

        <input type="text" class="form-control" name="name" maxlength="50" placeholder="Enter Name" required
          [(ngModel)]="contact.Name" #Name="ngModel">
        <small class="text-danger" *ngIf="Name.invalid && Name.touched || Name.invalid && Quote.submitted">Name is
          Mandatory</small>
      </div>
      <div class="form-group">

        <input type="email" class="form-control" name="Email" maxlength="50" placeholder="Enter Email" required
          #Email="ngModel" [(ngModel)]="contact.Email">
        <small class="text-danger" *ngIf="Email.invalid && Email.touched || Email.invalid && Quote.submitted">Email is
          Mandatory</small>
      </div>
      <div class="form-group">

        <input type="phone" class="form-control" name="Mobile" maxlength="10" placeholder="Enter Phone Number" required
          #Mobile="ngModel" [(ngModel)]="contact.Mobile">
        <small class="text-danger" *ngIf="Mobile.invalid && Mobile.touched || Mobile.invalid && Quote.submitted">Mobile
          is Mandatory</small>
      </div>
      <div class="form-group">

        <textarea class="form-control" rows="4" maxlength="250" name="Message" placeholder="Type messsge here.."
          required #Message="ngModel" [(ngModel)]="contact.Message"></textarea>
        <small class="text-danger"
          *ngIf="Message.invalid && Message.touched || Message.invalid && Quote.submitted">Message is Mandatory</small>
      </div>
      <button name="submit" type="submit" class="sign">Submit <mat-spinner class="spinner" style="position: absolute;"
          [diameter]="40" *ngIf="loading"></mat-spinner></button> &nbsp;&nbsp;
      <button name="submit" type="button" class="sign" (click)="closeGet()">Close</button>
    </form>
  </div>
</div>



<span class="side_menu1"><a [routerLink]="" (click)="openGet()" style="color: white;"><i class="fa fa-envelope"
      aria-hidden="true"></i> Write-2-Nithya </a></span> -->





<!-- <div id="mySidenav" class="sidenav">

    <div class="frm_side">
        <h2><i class="fas fa-globe" aria-hidden="true"></i> Current-Affairs</h2>
        <button name="submit" type="button" class="sign" (click)="closeGet()">Close</button>

        <ul class="list-inline list-unstyled">
            <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Current Affairs
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdo" style="left:40px">
                    <div class="container">
                        <div class="row">
                            <ul class="list-inline list-unstyled">
                                <li class="list-inline-item">
                                    <a class="nav-link " [routerLink]="['/current-affairs']" (click)="closeGet()" routerLinkActive="router-link-active">Daily
                    CA </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="nav-link" [routerLink]="['/current-affairs']" (click)="closeGet()" routerLinkActive="router-link-active">Monthly
                    CA</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="nav-link" href="javascript:void(0);" (click)="downloadfile(1);closeGet()">Static
                    GK</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="nav-link" href="javascript:void(0);" (click)="downloadfile(1);closeGet()">Banking
                  </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="nav-link" href="javascript:void(0);" (click)="downloadfile(1);closeGet()">Insurance </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> -->



<!-- <span class="side_menu1 "><a [routerLink]="" (click)="openGet()" style="color: white;"><i class="fas fa-globe"
            aria-hidden="true"></i> Current-Affairs </a></span> -->

<button class="top" id="btn2" class="topButton" *ngIf="isShow" (click)="gotoTop()"><i
        class="fa fa-arrow-up"></i></button>