<p>sentence-correction works!</p>
<div class="container-fluid">
    <div class="banner">
      <img src="assets/images/english-verbal-bnr.gif" alt="english-verbal-bnr" />
    </div>
  </div>
  <div class="container">
    <div class="banking">
      <div class="row">
        <div class="col-md-12 order-2 order-md-1">
          <div class="left">
            <div class="banker">
              <div class="container">
                <h5 style="text-align: center;">
                  <span style="color:#f77c00;border-bottom:1px dashed #000;">Sentence correction</span></h5><br>
                <div class="row">
                  <div class="col-md-4">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Sentence)">Concept</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Question)">Sample Questions</a></h4>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="shiksha" #Sentence>
                  <h5>The Concept of
  
                    <span class="heading">Sentence correction</span>
                  </h5>
                  <br />
                  <p>
                    Understanding the essence of a sentence is the utmost necessity in sentence correction. Learning the same will develop punctuation skills, vocabulary along with concepts in grammar.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="container">
              <div class="row">
                <div class="method" #Research>
                  <h5>Our Research
                    <span class="heading">
                      & Findings</span>
                  </h5>
                  <br />
                  
                  <p>Will Update soon..</p>
                </div>
              </div>
            </div>
          
            <div class="container">
              <div class="row">
                <div class="method" #Question>
                  <h5>Sample
                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                      Questions</span>
                  </h5>
                  <br />
                  <p>Will Update soon..</p>
                </div>
              </div>
            </div>
  
           
          </div>
        </div>
        
      </div>
    </div>
  </div>
