<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/problem-solving.gif" alt="team-banner" />
    </div>
</div>
<div class="container">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="banker">
                        <div class="container">
                            <h5 style="text-align: center;">
                                <span style="color:#f77c00;border-bottom:1px dashed #000;">Races</span>
                            </h5>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Races)">Concept</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="shiksha" #Races>
                                <h5>The Concept of

                                    <span class="heading">Races</span>
                                </h5>
                                <br />
                                <p>
                                    "Race" is a competition of speeds. All participants of a race are required to run a
                                    specific distance; whoever does it in the minimum will be the winner of the race.
                                </p>
                                <p>
                                    When all participants reach the finishing point at the same instant of time, the
                                    race is said to end in a "Dead Heat"
                                </p>
                                <p>
                                    The various types of phrases used in problems on races and their interpretations are
                                    as follows:
                                </p>
                                <p>
                                    <b> 1. A beats B by ‘y’ meters:</b> This means, both A and B start at the starting
                                    point at
                                    the same instant of time, but while A reaches the finishing point, B is y meters
                                    behind. This indicates that A is the winner of the race.
                                </p>
                                <p>
                                    <b>2. A beats B by ‘t’ minutes:</b> This means, both A and B start at the starting
                                    point at the same instant, but B takes t minutes more as compared to A to finish the
                                    race. Here also, A is the winner.
                                </p>
                                <p>
                                    <b> 3. A gives B a start of ‘y’ meters:</b> A starts from the starting point and B
                                    starts y meters ahead, but still both A and B reach the finishing point at the same
                                    instant of time. So, the race ends in a dead heat.
                                </p>
                                <p>
                                    <b> 4. A gives B a start of ‘t’ minutes:</b> A starts t minutes after B starts from
                                    the starting point, but still, both A and B reach the finishing point at the same
                                    instant of time. So, again the race ends in a dead heat.
                                </p>

                                <b> 5. A beats B by ‘y’ meters or ‘t’ minutes:</b> A and B start at the starting
                                point at the same instant, but while A reaches the finishing point, B is behind by y
                                meters, and, B takes t minutes compared to A to complete the race. So, B covers
                                remaining y meters y meters in extra t minutes. This gives the speed of B as &nbsp;

                                <div class="frac">
                                    <span><i>y</i></span>
                                    <span class="symbol">/</span>
                                    <span class="bottom"><i>t</i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method" #Research>
                                <h5>Our Research
                                    <span class="heading">
                                        & Findings</span>
                                </h5>
                                <br />
                                <h5 class="color">#IBPS PO</h5>
                                <p>
                                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>4.29%</b> of questions are from <b>Races</b>.
                                </p>
                                <h5 class="color">#SBIPO</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>2.86%</b> of questions are from <b>Races</b>.</p>
                                <h5 class="color">#TCSNQT</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 26.
                                    Out of these 26
                                    questions <b>8.33%</b> of questions are from <b>Races</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight" #Teaching>
                                <h5>
                                    Teaching
                                    <span class="heading">Methodology</span>
                                </h5>
                                <br />
                                <ul>
                                    <li>Concepts based solutions</li>
                                    <li>Short cut methods</li>
                                    <li>Spatial visualization</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="method" #sample>
                                <h5>Sample
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                                        Question</span>
                                </h5>
                                <br />
                                <h6><b>
                                        In a kilometre race, Kumar beats Sathish by 100 m and Sathish beats thirumala
                                        rao by 150 m. In the same race, by how many metres does Kumar beat thirumala
                                        rao?

                                    </b></h6>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                            href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                            <h5>Approach-1</h5>
                                            <h6>(Concept based solution)</h6>
                                        </a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                            href="#nav-profile" role="tab" aria-controls="nav-profile"
                                            aria-selected="false">
                                            <h5>Approach-2</h5>
                                            <h6>(Short cut method)</h6>
                                        </a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                            href="#nav-contact" role="tab" aria-controls="nav-contact"
                                            aria-selected="false">
                                            <h5>Approach-3</h5>
                                            <h6>(Spatial visualization)</h6>
                                        </a>
                                    </div>
                                </nav>

                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <img src="assets/images/races-1.gif" alt="races" class="img-fluid">
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                        aria-labelledby="nav-profile-tab">
                                        <img src="assets/images/races-2.gif" alt="races" class="img-fluid">
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                        aria-labelledby="nav-contact-tab">
                                        <img src="assets/images/races-3.gif" alt="races" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>