<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/learning.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>About
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;">- Shiksha"</span>
                                </h1><br>
                                <p>Welcome to Skill Lens, where knowledge knows no bounds. We believe that learning is a
                                    lifelong journey, and here, we empower individuals to pursue their intellectual
                                    curiosity and professional development goals. Our diverse range of courses, curated
                                    by experts in various fields, caters to learners of all levels and interests.</p>
                                <p>Whether you're a student aiming to excel in academics, a professional seeking to
                                    enhance your skills, or simply someone eager to explore new subjects, we have
                                    something for you.
                                </p>
                                <p>
                                    Join our vibrant community of learners and embark on a transformative educational
                                    experience. With flexible schedules and accessible resources, you can learn at your
                                    own pace and on your terms. Let's unlock your potential and embrace the joy of
                                    lifelong learning together. Start your journey with us today and discover endless
                                    opportunities for personal and professional growth.
                                </p>


                            </div>

                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <h1>Our Methodology<span style="color:#f77c00;border-bottom:1px dashed #000;"> - Our
                                        Belief
                                    </span></h1><br>
                                <ul>
                                    <li> Deliver concepts in the simplest way possible
                                    </li>
                                    <li>Connect concepts to the real time scenarios
                                    </li>
                                    <li>Motivate skill aspirants to Self paced learning to deliver effective outcomes
                                        compared to group learning </li>
                                    <li>Make Skill building always Self-Centered
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="row">

                            <div class="who">
                                <h1>Who can

                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> join ?</span>
                                </h1><br>
                                <p>Any individual who has a burning desire to build or upgrade skill can join us.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="container">

                        <div class="row">
                            <div class="shiksha">
                                <h1>How should I
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> choose a Skill?</span>
                                </h1><br>
                                <p>Choosing a Skill is very simple! However, prior to choosing you should have a Goal.
                                    For example, if you have set a goal to get into the banking industry, understand the
                                    skill expectations of the banking industry. If you
                                    analyze their hiring process, you have to undergo a written test and an interview.
                                    The written test in-turn requires Problem Solving skills, English and Verbal skills,
                                    Computer skills. Now, figure out the skill areas
                                    in which you have better competency, you should work on the other skills which
                                    expose your deficiency. Now, your deficient is the Skill you have to choose.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>