<div class="container-fluid">
    <div class="banner">
      <img src="assets/images/problem-solving.gif" alt="team-banner" />
    </div>
  </div>
  <div class="container">
    <div class="banking">
      <div class="row">
        <div class="col-md-12 order-2 order-md-1">
          <div class="left">
            <div class="banker">
              <div class="container">
                <h5 style="text-align: center">
                  <span style="color: #f77c00; border-bottom: 1px dashed #000"
                    >Direction Sense</span
                  >
                </h5>
                <br />
                <div class="row">
                  <div class="col-md-3">
                    <div class="acc">
                      <h4>
                        <a [routerLink]="" (click)="scroll(Directions)"
                          >Concept</a
                        >
                      </h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4>
                        <a [routerLink]="" (click)="scroll(Research)"
                          >Our Research & Findings</a
                        >
                      </h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4>
                        <a [routerLink]="" (click)="scroll(Teaching)"
                          >Teaching Methodology</a
                        >
                      </h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4>
                        <a [routerLink]="" (click)="scroll(sample)"
                          >Sample Question</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="shiksha" #Directions>
                  <h5>
                    The Concept of
  
                    <span class="heading">Directions</span>
                  </h5>
                  <br />
                  <p>
                    In this type of questions, a successive follow up of
                    directions and/or distance is formulated and on the basis of
                    given information you are required to ascertain the final
                    direction with respect to the starting point or the shortest
                    distance between the starting point and the final point.
                  </p>
                  <p>
                    Sometimes both the final direction and the distance covered
                    are asked. Thus, in this test, the questions consist of sort
                    of direction and/or distance puzzle. Obviously, such questions
                    are meant to judge the candidate’s ability to trace, follow
                    and perceive the direction, described in somewhat complicated
                    language, correctly. In order to solve such questions
                    correctly you must have the knowledge or directions on the
                    plane of a paper.
                  </p>
                  <p>
                    At the same time, it is necessary to sketch out the directions
                    as per information provided in the question in proper
                    sequence. An error at any point would alter your answer
                    choice.
                  </p>
                  <p>
                    The diagram given below shows the four main directions
                    (cardinals) and four subsidiary directions on plane of paper:
                  </p>
                </div>
              </div>
            </div>
  
            <div class="container">
              <div class="row">
                <div class="method" #Research>
                  <h5>
                    Our Research
                    <span class="heading"> & Findings</span>
                  </h5>
                  <br />
                  <h5 class="color">#IBPS PO</h5>
                  <p>
                    As a sample we have choosen the last 4 year's (2019, 2018,
                    2017, 2016) previously asked question papers. In quatitative
                    aptitude section, a total number of questions asked are 35.
                    Out of these 35 questions <b>5.71%</b> of questions are from
                    <b>Directions</b>.
                  </p>
                  <h5 class="color">#SBIPO</h5>
                  <p>
                    As a sample we have choosen the last 4 year's (2019, 2018,
                    2017, 2016) previously asked question papers. In quatitative
                    aptitude section, a total number of questions asked are 35.
                    Out of these 35 questions <b>5.71%</b> of questions are from
                    <b>Directions</b>.
                  </p>
                  <h5 class="color">#TCSNQT</h5>
                  <p>
                    As a sample we have choosen the last 4 year's (2019, 2018,
                    2017, 2016) previously asked question papers. In quatitative
                    aptitude section, a total number of questions asked are 26.
                    Out of these 26 questions <b>3.06%</b> of questions are from
                    <b>Directions</b>.
                  </p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="highlight" #Teaching>
                  <h5>
                    Teaching
                    <span class="heading">Methodology</span>
                  </h5>
                  <br />
                  <ul>
                    <li>Concepts based solutions</li>
                    <li>Short cut methods</li>
                    <li>Spatial visualization</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="method" #sample>
                  <h5>
                    Sample
                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                      Question</span
                    >
                  </h5>
                  <br />
                  <h6>
                    <b>
                      One morning after sunrise, Suresh was standing facing a
                      pole. The shadow of the pole fell exactly to his right. To
                      which direction was he facing?
                    </b>
                  </h6>
                </div>
              </div>
            </div>
  
            <div class="container">
              <div class="row">
                <div class="method">
                  <nav>
                    <div
                      class="nav nav-tabs nav-fill"
                      id="nav-tab"
                      role="tablist"
                    >
                      <a
                        class="nav-item nav-link active"
                        id="nav-home-tab"
                        data-bs-toggle="tab"
                        href="#nav-home"
                        role="tab"
                        aria-controls="nav-home"
                        aria-selected="true"
                      >
                        <h5>Approach-1</h5>
                        <h6>(Concept based solution)</h6>
                      </a>
                      <a
                        class="nav-item nav-link"
                        id="nav-profile-tab"
                        data-bs-toggle="tab"
                        href="#nav-profile"
                        role="tab"
                        aria-controls="nav-profile"
                        aria-selected="false"
                      >
                        <h5>Approach-2</h5>
                        <h6>(Short cut method)</h6>
                      </a>
                    </div>
                  </nav>
  
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="nav-home"
                      role="tabpanel"
                      aria-labelledby="nav-home-tab"
                    >
                      <img
                        src="assets/images/direction-1.gif"
                        alt="ages"
                        class="img-fluid"
                      />
                    </div>
                    <div
                      class="tab-pane fade"
                      id="nav-profile"
                      role="tabpanel"
                      aria-labelledby="nav-profile-tab"
                    >
                      <img
                        src="assets/images/direction-2.gif"
                        alt="ages"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  