<div class="container-fluid">
  <div class="banner">
    <img src="assets/images/banners/voiceofindustry.png" alt="e-learning-banner">
  </div>
</div>
<div class="container-fluid">
  <div class="banking">
    <div class="row">
      <div class="col-md-12 order-2 order-md-1">
        <div class="left">
          <div class="container">
            <div class="row">
              <div class="shiksha">
                <h1>Coding with
                  <span style="color:#f77c00;border-bottom:1px dashed #000;"> Python</span>
                </h1><br>
                <p>Python has emerged as one of the latest, most versatile and widely-used programming
                  languages, powering applications across various domains from web development to data
                  science and artificial intelligence. At Skill Lens, we are dedicated to bringing you
                  comprehensive resources and guidance to embark on your coding journey using Python.
                </p>

                <p>
                  Whether you're a complete beginner or an experienced programmer looking to expand
                  your skill set, our curated content covers everything you need to know to master
                  Python coding. From fundamental concepts like variables, loops, and functions to
                  advanced topics such as object-oriented programming and data visualization, we've
                  got you covered.
                </p>
                <p>
                  Our sessions are designed to be beginner-friendly yet detailed enough to challenge
                  even seasoned developers. We believe in hands-on learning, so expect plenty of
                  practical exercises and real-world examples to reinforce your understanding.
                </p>

                <p>Join our community of learners and enthusiasts to explore the endless possibilities
                  that Python offers. Whether you're interested in building websites, analyzing data,
                  or creating machine learning models, Python is your gateway to innovation and
                  creativity.</p>

                <p>Start your Python coding journey with us today and unlock a world of opportunities in
                  the exciting realm of programming. Let's code together and turn your ideas into
                  reality!</p>
              </div>

            </div>
          </div>

          <div class="container">
            <h1 class="mt-5">Find below the career journey (might change from company to company) of a
              <span style="color:#f77c00;border-bottom:1px dashed #000;"> Python Developer </span>
            </h1><br>



            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <b>0 to 8 Years of Experience</b>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row mt-5">
                      <div class="col-lg-3 col-md-6 ">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 1 </div>
                          <p class="h-1 pt-5"><b>Junior Python Developer/Intern</b></p>
                          <ul class="mb-5 list-unstyled">
                            <li>Basic understanding of Python syntax and data structures.
                            </li>
                            <li>Entry-level tasks such as bug fixing, writing simple
                              scripts, or assisting senior developers.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 2 </div>
                          <p class="h-1 pt-5"><b>Python Developer</b></p>

                          <ul class="mb-5 list-unstyled">
                            <li>Proficiency in Python programming.
                            </li>
                            <li>Developing small-scale applications or modules under
                              supervision.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 3 </div>
                          <p class="h-1 pt-5"><b>Associate Python Developer</b></p>

                          <ul class="mb-5 list-unstyled">
                            <li>Increased independence in developing Python applications.
                            </li>
                            <li>Understanding of software development best practices and
                              version control systems.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 4 </div>
                          <p class="h-1 pt-5"><b>Intermediate Python Developer</b></p>

                          <ul class="mb-5 list-unstyled">
                            <li>Strong understanding of Python frameworks (e.g., Django,
                              Flask).</li>
                            <li>Contributing to the design and architecture of medium-sized
                              projects</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-5">
                      <div class="col-lg-3 col-md-6 ">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 5 </div>
                          <p class="h-1 pt-5"><b>Senior Python Developer</b></p>
                          <ul class="mb-5 list-unstyled">
                            <li>Mentoring junior developers.</li>
                            <li>Leading development efforts on significant projects.</li>
                            <li>Proficiency in designing scalable and maintainable systems.
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 6 </div>
                          <p class="h-1 pt-5"><b>Lead Python Developer</b></p>

                          <ul class="mb-5 list-unstyled">
                            <li>Leading teams in the development of complex systems.
                            </li>
                            <li>Setting coding standards and best practices.
                            </li>
                            <li>Collaborating with other departments for project planning
                              and execution.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 7 </div>
                          <p class="h-1 pt-5"><b>Python Architect</b></p>

                          <ul class="mb-5 list-unstyled">
                            <li>Designing the overall architecture of large-scale Python
                              projects.</li>
                            <li>Ensuring system scalability, security, and performance.</li>
                            <li>Evaluating and integrating third-party tools and libraries.
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 8 </div>
                          <p class="h-1 pt-5"><b>Technical Lead/Manager (Python)</b></p>

                          <ul class="mb-5 list-unstyled">
                            <li>Responsible for project planning, resource allocation, and
                              task delegation.</li>
                            <li>Acting as a bridge between technical and non-technical
                              stakeholders.</li>
                          </ul>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>8 and above Years of Experience</b>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                    <div class="row mt-5">
                      <div class="col-lg-3 col-md-6 ">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 9 </div>
                          <p class="h-1 pt-5"><b>Senior Technical Lead/Manager (Python)</b>
                          </p>
                          <ul class="mb-5 list-unstyled">
                            <li>Contributing to organizational strategy and decision-making.
                            </li>
                            <li>Providing technical guidance and mentoring to other
                              technical leads/managers.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                        <div class="card d-flex align-items-center justify-content-center">
                          <div class="ribon"> 10 </div>
                          <p class="h-1 pt-5"><b>Python Development Manager/Director</b></p>

                          <ul class="mb-5 list-unstyled">
                            <li>Overseeing all Python development activities within an
                              organization.</li>
                            <li>Setting departmental goals and strategies.</li>
                            <li>Managing budgets and resources.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
