<div class="container">
    <div class="row">
        <div class="terms">
            <h1 class="color">REFUND POLICY

            </h1>
            <p>We take a lot of effort in making sure that our customers receive products and services in good
                condition. In case they have received no quality products or services, they can ask for a replacement by
                returning or surrendering the original product or service credentials. On due verification only and felt
                genuine claim by the company, the amount If paid by credit card, refunds will be issued to the original
                credit card provided at the time of purchase and in case of Payment Gateway Name, payments refund will
                be made to the same account.
            </p>

        </div>
    </div>
</div>