<div class="container-fluid">
    <div class="banner">
      <img src="assets/images/problem-solving.gif" alt="problem-solving-banner" />
    </div>
  </div>
  <div class="container">
    <div class="banking">
      <div class="row">
        <div class="col-md-12 order-2 order-md-1">
          <div class="left">
            <div class="banker">
              <div class="container">
                <h5 style="text-align: center;">
                  <span style="color:#f77c00;border-bottom:1px dashed #000;">Dice</span></h5><br>
                <div class="row">
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Dies)">Concept</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="shiksha" #Dies>
                  <h5>The Concept of
  
                    <span class="heading">Dice</span>
                  </h5>
                  <br />
                  <p>
                    The concepts and questions on Dice might mystify some people but it can be a cakewalk for the people with a great visual bent of mind and visualization. It’s an extension of Cubes but with a slightly higher logic and conceptual application.
                  </p>
                  <p>
                    Dice is a part of the logical reasoning section of aptitude. The frequency of the appearance of questions on dice is high every year.
                  </p>
                  <p>
                    Dice is a cube having different numbers on all its faces. The numbers are usually a single digit, from 1 to 6.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="container">
              <div class="row">
                <div class="method" #Research>
                  <h5>Our Research
                    <span class="heading">
                      & Findings</span>
                  </h5>
                  <br />
                  <h5 class="color">#IBPS PO</h5>
                  <p>
                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 35. Out of these 35
                    questions <b>2.86%</b> of questions are from <b>Dice</b>.
                  </p>
                  <h5 class="color">#SBIPO</h5>
                  <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 35. Out of these 35
                    questions <b>3.57%</b> of questions are from <b>Dice</b>.</p>
                  <h5 class="color">#TCSNQT</h5>
                  <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 26. Out of these 26
                    questions <b>3.53%</b> of questions are from <b>Dice</b>.</p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="highlight" #Teaching>
                  <h5>
                    Teaching
                    <span class="heading">Methodology</span>
                  </h5>
                  <br />
                  <ul>
                    <li>Concepts based solutions</li>
                    <li>Short cut methods</li>
                    <li>Spatial visualization</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="method" #sample>
                  <h5>Sample
                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                      Question</span>
                  </h5>
                  <br />
                  <h6><b>Identify the number at the bottom when the top is 5 in a dice?
                    </b></h6>
                    <img src="assets/images/dice.png" alt="problem-solving-banner" />
                </div>
              </div>
            </div>
  
          <div class="container">
              <div class="row">
                <div class="method">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">
                        <h5>Approach-1</h5>
                        <h6>(Concept based solution)</h6>
                      </a>
  
                    </div>
                  </nav>
  
  
  
  
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <img src="assets/images/dice-1.gif" alt="ages" class="img-fluid">
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  