<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/problem-solving.gif" alt="problem-solving" />
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 style="display: inline-block;">
                                            What is
                                            <span style="color: #f77c00; border-bottom: 1px dashed #000">Problem
                                                Solving?</span>
                                        </h1>

                                    </div>
                                </div>
                                <br />
                                <p>
                                    Problem-Solving skills helps to estimate the analytical and reasoning skills of a
                                    person. These skills
                                    are generally categorized as aptitude and reasoning tests by various hiring
                                    companies. The outcome of
                                    an aptitude test helps us understand the learning
                                    potential of an aspirant.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <h1>
                                    Where<span style="color: #f77c00; border-bottom: 1px dashed #000">
                                        is it required?</span>
                                </h1>
                                <br />
                                <p>
                                    Problem-solving is a life skill. Problem-solving skills is a combination of both
                                    analytical and
                                    reasoning skills. Analytical skills are required to analyze, integrate, interpret
                                    and make decisions.
                                    Logical and reasoning skills depict our creativity, research,
                                    risk management, and emotional intelligence.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight">
                                <h1>
                                    Teaching
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">Methodology</span>
                                </h1>
                                <br />
                                <ul class="list-unstyled">
                                    <li>Concepts based solutions</li>
                                    <li>Short cut methods</li>
                                    <li>Spatial visualization</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="syllabus">
                        <div class="container">
                            <h1 style="text-align: center">
                                Quantitative Aptitude
                                <span style="color: #f77c00; border-bottom: 1px dashed #000">Syllabus</span>
                            </h1>
                            <br />
                            <div class="table-responsive-class">
                                <table class="custom_table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left">Topic Name</th>
                                            <th>No. of Videos</th>
                                            <th>Videos Links</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./ages']">Ages</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions"><a href="https://youtu.be/vfM_ae8K3pM"
                                                    target="_blank">https://youtu.be/vfM_ae8K3pM
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./averages']">Averages</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./algebra']">Algebra</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./areas-and-volumes']">Areas and Volumes</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./boats-and-streams']">Boats and Streams</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/T7FO5lX0O60"
                                                    target="_blank">https://youtu.be/T7FO5lX0O60</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./compound-interest']">Compound Interest</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/rO1Nq6kROq8"
                                                    target="_blank">https://youtu.be/rO1Nq6kROq8</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./discounts']">Discounts</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/5n9ikhBia2Y"
                                                    target="_blank">https://youtu.be/5n9ikhBia2Y</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./geometry']">Geometry</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./logarithm']">Logarithm</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./lcm-and-hcf']">LCM and HCF</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./mixtures']">Mixtures</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./number-system']">Number System</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>


                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./percentages']">Percentages</a>
                                            </td>
                                            <td data-title="Videos">6</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./profit-and-loss']">Profit and Loss</a>
                                            </td>
                                            <td data-title="Videos">5</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./partnership']">Partnership</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./permutations-and-combinations']">Permutations and
                                                    Combinations</a>
                                            </td>
                                            <td data-title="Videos">5</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./probability']">Probability</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./races']">Races</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./ratios-proportions-variations']">Ratios,
                                                    Proportions
                                                    and Variations</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./surds-and-indices']">Surds and Indices</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>


                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./set-theory']">Set Theory</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./simple-equation']">Simple Equations </a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./simple-interest']">Simple Interest</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./time-and-work']">Time and Work</a>
                                            </td>
                                            <td data-title="Videos">6</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./time-speed-distance']">Time, Speed and Distance</a>
                                            </td>
                                            <td data-title="Videos">5</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./trigonometry']">Trigonometry</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="syllabus">
                        <div class="container">
                            <h1 style="text-align: center">
                                Reasoning Ability
                                <span style="color: #f77c00; border-bottom: 1px dashed #000">Syllabus</span>
                            </h1>
                            <br />
                            <div class="table-responsive-class">
                                <table class="custom_table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left">Topic Name</th>
                                            <th>No. of Videos</th>
                                            <th>No. of Questions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./analogy']">Analogy</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./arithmetic-reasoning']">Arithmetic Reasoning</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./blood-relation']">Blood Relations</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/tODH25iQMSM"
                                                    target="_blank">https://youtu.be/tODH25iQMSM</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./coding-and-decoding']">Coding and Decoding</a>
                                            </td>
                                            <td data-title="Videos">5</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/XBP07vPhR0A"
                                                    target="_blank">https://youtu.be/XBP07vPhR0A</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./clocks']">Clocks</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/wt5Wt1OCMsI"
                                                    target="_blank">https://youtu.be/wt5Wt1OCMsI</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./calendars']">Calendars</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/1XlQo-h_Zoo"
                                                    target="_blank">https://youtu.be/1XlQo-h_Zoo</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./circular-arrangement']">Circular Arrangement</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/Se6Tl4ULorU"
                                                    target="_blank">https://youtu.be/Se6Tl4ULorU</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./direction-sense']">Directions Sense</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/XPg2SffVGio"
                                                    target="_blank">https://youtu.be/XPg2SffVGio</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./data-sufficiency']">Data Sufficiency</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./dices']">Dices</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./letter-series']">Letter Series</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/scml9Gx5jd4"
                                                    target="_blank">https://youtu.be/scml9Gx5jd4</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./linear-arrangement']">Linear Arrangement</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./number-series']">Number Series</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">

                                                <a [routerLink]="['./puzzles']">Puzzles</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./ranking']">Ranking</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>


                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./syllogism']">Syllogism</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./statement-and-conclusions']">Statement and
                                                    Conclusions</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./venn-diagram']">Venn Diagram</a>
                                            </td>
                                            <td data-title="Videos">5</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>