<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/problem-solving.gif" alt="problem-solving-banner" />
    </div>
</div>
<div class="container">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="banker">
                        <div class="container">
                            <h5 style="text-align: center;">
                                <span style="color:#f77c00;border-bottom:1px dashed #000;">Data Sufficiency</span>
                            </h5><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Data)">Concept</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="shiksha" #Data>
                                <h5>The Concept of

                                    <span class="heading">Data Sufficiency</span>
                                </h5>
                                <br />
                                <p>
                                    Data Sufficiency questions in logical reasoning comprise a few conditions and
                                    candidates need to analyse which of the given conditions may help get an answer or
                                    solution to the question.
                                </p>
                                <p>
                                    These questions are mostly asked to test the logical and analytic skills of the
                                    candidate. Mostly 4-5 data sufficiency questions are asked in the reasoning ability
                                    section and they may test your Quant skills as well, and candidates can easily score
                                    well in such questions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method" #Research>
                                <h5>Our Research
                                    <span class="heading">
                                        & Findings</span>
                                </h5>
                                <br />
                                <h5 class="color">#IBPS PO</h5>
                                <p>
                                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>2.86%</b> of questions are from <b>Data Sufficiency</b>.
                                </p>
                                <h5 class="color">#SBIPO</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>3.57%</b> of questions are from <b>Data Sufficiency</b>.</p>
                                <h5 class="color">#TCSNQT</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 26.
                                    Out of these 26
                                    questions <b>3.53%</b> of questions are from <b>Data Sufficiency</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight" #Teaching>
                                <h5>
                                    Teaching
                                    <span class="heading">Methodology</span>
                                </h5>
                                <br />
                                <ul>
                                    <li>Concepts based solutions</li>
                                    <li>Short cut methods</li>
                                    <li>Spatial visualization</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="method" #sample>

                                <br />
                                <h6><b>
                                    </b></h6>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="container">
              <div class="row">
                <div class="method">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">
                        <h5>Approach-1</h5>
                        <h6>(Concept based solution)</h6>
                      </a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">
                        <h5>Approach-2</h5>
                        <h6>(Short cut method)</h6>
                      </a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">
                        <h5>Approach-3</h5>
                        <h6>(Spatial visualization)</h6>
                      </a>
                    </div>
                  </nav>
  
  
  
  
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <img src="assets/images/ages-1.gif" alt="ages" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <img src="assets/images/ages-2.gif" alt="ages" class="img-fluid"></div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <img src="assets/images/ages-3.gif" alt="ages" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>