<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/recruitmentcompanies.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Recruiting
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Companies"</span>
                                </h1><br>
                                <p>Greetings from Skill Lens! Companies need people, and more precisely skilled people.
                                    At Skill Lens, we help you connect with skilled learners. By collaborating with us,
                                    recruiting companies get access to our talent pool of freshly educated and trained
                                    individuals equipped with up-to-date skills and knowledge. Furthermore, recruiting
                                    companies can collaborate with education providers to tailor programs to meet the
                                    evolving needs of industries, ensuring that candidates are equipped with the latest
                                    skills and knowledge. This partnership also allows recruiters to tap into a diverse
                                    range of candidates from different educational backgrounds and experiences, enabling
                                    them to fulfil the specific requirements of their clients more effectively.
                                </p>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>