<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/voiceofindustry.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Data
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Science</span>
                                </h1><br>
                                <p>Data Science is a world, where insights meet innovation to drive informed
                                    decision-making. Data Science is a multidisciplinary field that combines statistical
                                    analysis, machine learning algorithms, and domain expertise to extract meaningful
                                    insights from large and complex datasets.

                                </p>

                                <p>
                                    Data Science helps businesses unlock the potential hidden within their data. From
                                    predicting customer behavior to optimizing business processes.

                                </p>
                                <p>Join us on the journey to harness the power of data.
                                </p>

                                <p>Through a blend of theoretical learning and hands-on practical exercises, you'll
                            </div>

                        </div>
                    </div>

                    <div class="container">
                        <h1 class="mt-5">Find below the career journey (might change from company to company) of a
                            <span style="color:#f77c00;border-bottom:1px dashed #000;"> Data Science Professional
                            </span>
                        </h1><br>

                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-6 ">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 1 </div>
                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>Intern/Junior Data Analyst</li>
                                        <li>Data Analyst</li>
                                        <li>Junior Data Scientist</li>
                                        <li>Data Scientist</li>
                                        <li>Senior Data Scientist</li>
                                        <li>Lead Data Scientist</li>


                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 2 </div>
                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>Principal Data Scientist</li>
                                        <li>Data Science Manager</li>
                                        <li>Data Science Team Lead</li>
                                        <li>Data Science Director</li>
                                        <li>Head of Data Science</li>
                                        <li>Senior Data Science Manager</li>


                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 3 </div>

                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>Senior Director of Data Science</li>
                                        <li>Vice President of Data Science</li>
                                        <li>Chief Data Scientist</li>
                                        <li>Analytics Consultant</li>
                                        <li>Machine Learning Engineer</li>


                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 4 </div>
                                    <ul class="mb-5 list-unstyled mt-3">
                                        <li>Data Science Strategist</li>
                                        <li>Data Science Researcher</li>
                                        <li>Data Science Evangelist</li>
                                        <li>Chief Data Officer</li>
                                        <li>Chief Technology Officer (CTO)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <p>
                                    Keep in mind that the titles and positions may vary between organizations, and some
                                    may have different hierarchies or additional specialized roles such as NLP (Natural
                                    Language Processing) Engineer, Computer Vision Engineer, or Big Data Engineer.
                                    Additionally, individuals may take different paths or transition into adjacent
                                    fields such as AI ethics, academia, or entrepreneurship.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>