<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/campusrecruitmenttraining.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Campus Recruitment
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Training</span>
                                </h1><br>
                                <p>Campus Recruitment Training is an offline training program delivered by a team of
                                    Industry experts, who have more than two decades of industry management experience
                                    working across, MNC’s, SMEs, Start-ups. Our team has collaborated & been involved in
                                    training fresher’s at colleges and have been part of various campus recruitments.
                                </p>
                            </div>

                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <h1>How can we help
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Colleges?</span>
                                </h1><br>
                                <p>
                                    As we are equipped with the skill set of industry experience & campus recruitment,
                                    we build and upgrade the skills of the students on Technology, Problem Solving
                                    (Quantitative aptitude & Reasoning ability), Communication, team building, verbal
                                    ability, Group discussion, resume building and Interview skills to the Engineering,
                                    MBA, MCA, General Degree students."
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="container mt-5 shiksha1">
                        <div class="row text-center">
                            <h1 class="mt-1">Campus Preparation Program <span style="color:#f77c00"> /</span> <span
                                    style="color:#f77c00"> Campus Hiring Training</span>
                                <span style="color:#f77c00"> /</span> Campus Recruitment Training
                            </h1>
                        </div>
                    </div>


                    <div class="container mt-3">
                        <div class="row">
                            <div class="method">
                                <h1>Our Services
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Portfolio</span>
                                </h1><br>
                                <ul>
                                    <li>Problem Solving Skills – Quantitative aptitude & Reasoning ability</li>
                                    <li>English & Verbal Skills</li>
                                    <li>Technical – Information Technology & Core Engineering</li>
                                    <li>Presentation & Interview Skills</li>
                                </ul>

                            </div>
                        </div>
                    </div>


                    <div class="container mt-3">
                        <div class="row">
                            <div class="shiksha method">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <h1 class="mt-3">Technical -
                                            <span style="color:#f77c00;border-bottom:1px dashed #000;"> Information
                                                Technology</span>
                                        </h1><br>
                                        <ul>
                                            <li>C & Data Structures</li>
                                            <li>.Net</li>
                                            <li>Web Development – Angular / React</li>
                                            <li>Java</li>
                                            <li>Python</li>
                                            <li>Data Sciences</li>
                                            <li>IOT</li>
                                            <li>AI & ML</li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-sm-5">
                                        <h1 class="mt-3">Core
                                            <span style="color:#f77c00;border-bottom:1px dashed #000;">
                                                Engineering</span>
                                        </h1><br>
                                        <ul>
                                            <li>Auto CAD</li>
                                            <li>CATIA</li>
                                            <li>Solid Works</li>
                                            <li>Inventor</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-6">
                                <div class="method">
                                    <h1>Skills Nurtured
                                        <!-- <span style="color:#f77c00;border-bottom:1px dashed #000;"> College</span> -->
                                    </h1><br>

                                    <ul>
                                        <li>Problem Solving (Quantitative Aptitude, Logical Reasoning)s</li>
                                        <li>English Verbal Ability</li>
                                        <li>Technical Skills</li>
                                        <li>Presentation & Interview Skills</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="method">
                                    <h1>Eligibility
                                        <!-- <span style="color:#f77c00;border-bottom:1px dashed #000;"> Students</span> -->
                                    </h1><br>
                                    <ul>
                                        <li>Selection Criteria</li>
                                        <li>Pre Assessment Test</li>
                                        <li>Personal Interview</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>