<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/presentation-interview.gif" alt="presentation interview" />
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1 style="display: inline-block;">
                                    What is
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                                        Presentation & Interview Skills ?</span>
                                </h1>
                                <br /><br>
                                <p>
                                    Presentation skill is considered as the most important skill.
                                    Presentation is not only communication, it is the ability to
                                    adapt ourselves to various business situations and the
                                    audience. Presentation is not just talking to the audience, it
                                    is engaging the audience. It is decoding your though and
                                    enlightening the audience.
                                </p>
                                <p>
                                    Interview skills is considered an ability to express and
                                    interact with the interviewer. Nowadays interviewers are not
                                    following the traditional approach of question and answer. The
                                    interview has become a process to understand the candidates'
                                    ability to think logically and rationally, showcase the
                                    ability to handle a team or be a team player with suitable
                                    examples, exhibit proper body language to make sure that you
                                    are connected with the person in front of you. In short, it is
                                    the final chance you get to prove that you are an asset to the
                                    organization and impress the interviewer to believe the same.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <h1>
                                    Where
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">is it required?</span>
                                </h1>
                                <br />
                                <ul>
                                    <li>Career Building</li>
                                    <li>Business Development</li>
                                    <li>Story Telling</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight">
                                <h1>
                                    Teaching
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">Methodology</span>
                                </h1>
                                <br />
                                <ul>
                                    <li>Audio & Visual demonstration.</li>
                                    <li>Experimental Training.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="syllabus">
                        <div class="container">
                            <h1 style="color: #f77c00; text-align: center">Syllabus</h1>
                            <br />
                            <div class="table-responsive-class">
                                <table class="custom_table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left">Topic Name</th>
                                            <th>No. of Videos</th>
                                            <th>Videos Links</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Active Listening</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/p-V076QnVW8"
                                                    target="_blank">https://youtu.be/p-V076QnVW8</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Assertive Communication</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/VRVawwFKkl8"
                                                    target="_blank">https://youtu.be/VRVawwFKkl8</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Body Language</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/6uzgLPpqtFo"
                                                    target="_blank">https://youtu.be/6uzgLPpqtFo</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Business Etiquette</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/8lmZgCGLOpo"
                                                    target="_blank">https://youtu.be/8lmZgCGLOpo</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Change Management</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/FBQHF56fQqs"
                                                    target="_blank">https://youtu.be/FBQHF56fQqs</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Conflict Management</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/X32Nqm5Jnb4"
                                                    target="_blank">https://youtu.be/X32Nqm5Jnb4</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">
                                                    Email Etiquette
                                                </a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/yrMKfNlmvp8"
                                                    target="_blank">https://youtu.be/yrMKfNlmvp8</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Emotional Intelligence</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/-2sbXEJkGI0"
                                                    target="_blank">https://youtu.be/-2sbXEJkGI0</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">First Impression</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/lmFm3KcJJfM"
                                                    target="_blank">https://youtu.be/lmFm3KcJJfM</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Goal settings</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Grooming and Appearance</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Group Discussion</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Lateral Thinking</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Personal Interview</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Personality Development</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Positive Attitude</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">PowerPoint Presentation Skills</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Presentation Skills</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Psychometric Personality Traits</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Public Speaking</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Resume Building</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Self-Awareness</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Soft Skills</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Stress Management</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">
                                                    Team building
                                                </a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Telephone Etiquette</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Time Management</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>