<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/workshopsandseminars.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid ">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container ">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Workshops &
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Seminars</span>
                                </h1><br>
                                <p>We believe in the transformative power of knowledge and the immense value of
                                    continuous learning. Our Seminars & Workshops are meticulously designed to empower
                                    individuals and organizations with the skills, insights, and strategies needed to
                                    thrive in today's dynamic world.

                                    With years of experience in delivering high-impact educational experiences, we have
                                    curated a diverse range of seminars and workshops that cater to various industries,
                                    professions, and personal development needs. Our team comprises seasoned
                                    professionals, industry experts, and renowned thought leaders, ensuring that each
                                    session is not just informative but also engaging, interactive, and actionable.
                                </p>
                            </div>

                        </div>
                    </div>


                    <div class="container mt-5">
                        <div class="row">
                            <div class="method">
                                <h1>What we
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Offer</span>
                                </h1><br>

                                <ul>
                                    <li><b>Industry-Specific Seminars</b>
                                        <p>
                                            Dive deep into the latest trends, challenges, and opportunities shaping your
                                            industry with our specialized seminars led by industry insiders and subject
                                            matter experts.
                                        </p>
                                    </li>
                                    <li><b>Skill-Building Workshops</b>
                                        <p>
                                            From communication and leadership to data analysis and digital marketing,
                                            our workshops cover a wide spectrum of skills essential for personal and
                                            professional growth.
                                        </p>
                                    </li>
                                    <li><b>Customized Programs</b>
                                        <p>
                                            We understand that every organization has unique needs. That's why we offer
                                            customized seminars and workshops tailored to address the specific
                                            challenges and objectives of your team or company.
                                        </p>
                                    </li>
                                </ul>
                                <h1 class="mt-5">Virtual and In-Person Options</h1>
                                <p>
                                    Whether you prefer the flexibility of online learning or the immersive experience of
                                    face-to-face interaction, we offer both virtual and in-person seminars and workshops
                                    to accommodate your preferences and circumstances.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="container mt-3">
                        <div class="row">
                            <div class="shiksha method">
                                <h1 class="mt-5">Why choose
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Us</span>
                                </h1><br>

                                <ul>
                                    <li>Expert Facilitators</li>
                                    <li>Interactive Learning</li>
                                    <li>Actionable Insights</li>
                                    <li>Continuous Support</li>
                                </ul>
                            </div>

                        </div>
                    </div>


                    <div class="container mt-5 mb-5">
                        <div class="row text-center">
                            <h1 class="mt-5">Our
                                <span style="color:#f77c00;border-bottom:1px dashed #000;"> Offerings</span>
                            </h1><br>
                        </div>
                        <div class="row">
                            <div class="col offset-2 method">
                                <ul>
                                    <li>Web Development (Angular / React )</li>
                                    <li>Application Development (.Net / Java / Python / PHP)</li>
                                    <li>Software Testing</li>
                                    <li>Cloud Computing</li>
                                    <li>Robotics</li>
                                    <li>Internet of Things (IoT)</li>
                                    <li>Machine Learning</li>
                                    <li>Artificial Intelligence</li>
                                    <li>Mobile App Development</li>
                                    <li>Data Science</li>
                                    <li>MATLAB</li>
                                    <li>Ethical Hacking</li>
                                    <li>Cyber Security</li>
                                    <li>DevOps</li>
                                </ul>
                            </div>
                            <div class="col method">
                                <ul>
                                    <li>Project Management</li>
                                    <li>BlockChain</li>
                                    <li>AutoCAD, CAD/CAM</li>
                                    <li>Autodesk Revit</li>
                                    <li>CATIA</li>
                                    <li>AWS/Azure/GCP</li>
                                    <li>Digital Marketing</li>
                                    <li>Power BI</li>
                                    <li>Tableau</li>
                                    <li>Data Analytics</li>
                                    <li>Business Analytics</li>
                                    <li>Entrepreneurship</li>
                                    <li>HR Training</li>
                                </ul>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>