<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/voiceofindustry.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>AI & ML
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> (Artificial Intelligence
                                        & Machine Learning)</span>
                                </h1><br>
                                <p>
                                    In today's dynamic technological landscape, Artificial Intelligence (AI) and Machine
                                    Learning (ML) have emerged as transformative forces driving innovation across
                                    industries. Our comprehensive training program is designed to equip you with the
                                    skills and knowledge needed to harness the power of AI and ML effectively.
                                </p>

                                <p>
                                    Our expert-led courses cover a wide range of topics, from the fundamentals of AI and
                                    ML to advanced techniques and applications. Whether you're a beginner looking to
                                    build a solid foundation or an experienced professional seeking to expand your
                                    expertise, our program offers something for everyone. Through hands-on projects,
                                    real-world case studies, and interactive sessions, you'll gain practical experience
                                    and insights that will enable you to tackle complex challenges and drive meaningful
                                    impact in your organization. Our curriculum is constantly updated to reflect the
                                    latest trends and developments in AI and ML, ensuring that you stay ahead of the
                                    curve.
                                </p>
                                <p>
                                    What sets our training program apart is our commitment to personalized learning. Our
                                    instructors are industry veterans with years of experience in AI and ML, and they
                                    are dedicated to providing individualized support and guidance every step of the
                                    way. Whether you prefer self-paced online courses or live instructor-led sessions,
                                    we have flexible options to suit your needs.
                                </p>

                                <p>
                                    Join us on this exciting journey to unlock the full potential of AI and ML. Take the
                                    first step towards a brighter future and enroll in our training program today!
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class="container">
                        <h1 class="mt-5">Find below the career journey (might change from company to company) of a
                            <span style="color:#f77c00;border-bottom:1px dashed #000;"> AI & ML Professional </span>
                        </h1><br>

                        <p>
                            Creating a comprehensive career ladder for AI & ML professionals with 25 levels involves
                            outlining the progression from entry-level roles to executive positions. Here's a possible
                            breakdown:
                        </p>

                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-6 ">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 1 </div>
                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>Intern/Junior Data Analyst</li>
                                        <li>Data Analyst</li>
                                        <li>Junior Machine Learning Engineer</li>
                                        <li>Machine Learning Engineer</li>
                                        <li>Junior Data Scientist</li>
                                        <li>Data Scientist</li>
                                        <li>Senior Data Scientist</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 2 </div>
                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>Lead Data Scientist</li>
                                        <li>Machine Learning Specialist</li>
                                        <li>Senior Machine Learning Specialist</li>
                                        <li>AI Researcher</li>
                                        <li>AI Developer</li>
                                        <li>AI Engineer</li>
                                        <li>Senior AI Engineer</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 3 </div>

                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>AI Architect</li>
                                        <li>AI Team Lead</li>
                                        <li>AI Project Manager</li>
                                        <li>AI Consultant</li>
                                        <li>AI Research Manager</li>
                                        <li>Director of AI Research</li>
                                        <li>Head of AI Development</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 4 </div>
                                    <ul class="mb-5 list-unstyled mt-3">
                                        <li>Chief AI Officer (CAIO)</li>
                                        <li>Vice President of AI</li>
                                        <li>Senior Vice President of AI</li>
                                        <li>Chief Technology Officer (CTO)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>