<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/skilllensjobs.png" alt="pratibha-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">

            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Pratibha - <span style="color:#f77c00;">The Recruiter’s Arena</span></h1><br>
                                <p>Skill Lens - Pratibha is developed as an online employment solution for employers who
                                    intend to recruit great people.

                                </p>
                                <p>We believe that learning should always be connected with assessments. Our
                                    technology-enabled platform gives a clear picture of the learning curve of each
                                    SkillLens Subscriber. Our reports help a recruiter to understand the
                                    skill up-gradation of each candidate and also the comparative reports generate
                                    better comparison with their peer learners. We promise that our subscribers will
                                    result in better productivity for companies.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <h1>Our <span style="color:#f77c00;border-bottom:1px dashed #000;">Highlights</span>
                                </h1><br>




                                <ul>
                                    <li> Learning & Performance analysis of each candidate


                                    </li>
                                    <li> Skill Wise - Comparative analysis


                                    </li>
                                    <li> Conduct your Own Assessments


                                    </li>
                                    <li> Assessment platform supports Multiple Choice Questions, Fill in the Blanks,
                                        Descriptive questions & Coding


                                    </li>
                                    <li> Coding platform Supports 24+ programming languages



                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>