<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/leadership-bannerr.gif" alt="leader-banner" />
    </div>
</div>

<div class="tab_sec">
    <div class="container">
        <!-- Nav tabs -->
        <div class="link_sec">
            <ul class="nav nav-tabs tab_menu">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#managing">Managing Director</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#director">Technical Director</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#advisory">Advisory Board</a>
                </li> -->
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content tab_section">
            <div id="managing" class="container tab-pane active tab_content">
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="patro">
                                        <img src="assets/images/kumar.jpg" alt="Kumar-CEO" />

                                        <h4><b>Kumar Raja M </b></h4>
                                        <h6>Founder & CEO <span class="color">|</span> Strategy & Growth</h6>
                                        <h6>Email: kumarraja@skilllens.com</h6>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="patro">
                                        <p style="padding: 5px">
                                            "I believe education transforms lives". However, Education
                                            has become so essential and costlier that parents are
                                            compelled to spend more than 35% of their earnings towards
                                            the education of their children. Our vision is to provide
                                            a world-class online learning platform at the most
                                            affordable price. My interest in education began a decade
                                            ago. After completion of Post-Graduation, I worked as a
                                            Teacher, Trainer for 6 years, and directly trained 10000+
                                            students. My 5+ years of experience as an HR professional
                                            helped me understand the skill gap between the industry
                                            and the aspirants. Skill Lens would constantly focus on
                                            reducing the skill gap. The instructional design
                                            techniques followed at Skill Lens will help each student
                                            to
                                            <b>L</b>earn-<b>E</b>valuate-<b>N</b>urture-<b>S</b>ucceed
                                            <b>(LENS)</b>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="director" class="container tab-pane fade tab_content">
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="patro">
                                        <img src="assets/images/satish.jpg" alt="satish-Co-Founder" />

                                        <h4><b>Sathesh Kumar M </b></h4>
                                        <h6>Co-Founder & CTO <span class="color">|</span> Technology & Growth</h6>

                                        <h6>Email: sathesh@skilllens.com</h6>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="patro">
                                        <p style="line-height: 35px">
                                            Technology-enabled learning helps a child to learn at his
                                            own pace. Learning is effective when it is self-paced.
                                            Technology-enabled Self-pace learning influenced the birth
                                            of Skill Lens. My experience of training 35000+ students
                                            on C, C++, .Net and Angular over two decades helped me to
                                            understand the technology expectations of various
                                            multinational companies. All the online learning courses
                                            are perfectly designed to build skills. We not only share
                                            knowledge, we focus on the application of knowledge
                                            (Skill). The wings on our logo depict the flight and
                                            confidence that our subscriber feels after completion of
                                            his course.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advisory" class="container tab-pane fade tab_content">
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="assets/images/bharat.jpg" alt="bharat-Corporate Trainer" />
                                </div>
                                <h5>Mr. Bharat</h5>
                                <p>Corporate Trainer</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="assets/images/nandini.jpg" alt="nandini-Corporate Trainer" />
                                </div>
                                <h5>Nandini</h5>
                                <p>Corporate Trainer</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="assets/images/venkat.jpg" alt="venkat-Digital Marketing Strategist" />
                                </div>
                                <h5>Venkat Kiran</h5>
                                <p>Digital Marketing Strategist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>