<div class="container-fluid">
    <div class="banner">
      <img src="assets/images/problem-solving.gif" alt="problem-solving-banner" />
    </div>
  </div>
  <div class="container">
    <div class="banking">
      <div class="row">
        <div class="col-md-12 order-2 order-md-1">
          <div class="left">
            <div class="banker">
              <div class="container">
                <h5 style="text-align: center;">
                  <span style="color:#f77c00;border-bottom:1px dashed #000;">Trigonometry</span></h5><br>
                <div class="row">
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(trigonometry)">Concept</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="acc">
                      <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="shiksha" #trigonometry>
                  <h5>The Concept of
  
                    <span class="heading">Trigonometry</span>
                  </h5>
                  <br />
                  <p>
                    Trigonometry, the branch of mathematics concerned with specific functions of angles and their application to calculations. There are six functions of an angle commonly used in trigonometry. Their names and abbreviations are sine (sin), cosine (cos), tangent (tan), cotangent (cot), secant (sec), and cosecant (csc). These six trigonometric functions in relation to a right triangle are displayed in the figure. For example, the triangle contains an angle A, and the ratio of the side opposite to A and the side opposite to the right angle (the hypotenuse) is called the sine of A, or sin A; the other trigonometry functions are defined similarly. These functions are properties of the angle A independent of the size of the triangle, and calculated values were tabulated for many angles before computers made trigonometry tables obsolete. Trigonometric functions are used in obtaining unknown angles and distances from known or measured angles in geometric figures.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="container">
              <div class="row">
                <div class="method" #Research>
                  <h5>Our Research
                    <span class="heading">
                      & Findings</span>
                  </h5>
                  <br />
                  <h5 class="color">#IBPS PO</h5>
                  <p>
                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 35. Out of these 35
                    questions <b>2.86%</b> of questions are from <b>Trigonometry</b>.
                  </p>
                  <h5 class="color">#SBIPO</h5>
                  <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 35. Out of these 35
                    questions <b>3.57%</b> of questions are from <b>Trigonometry</b>.</p>
                  <h5 class="color">#TCSNQT</h5>
                  <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously asked question
                    papers. In quatitative aptitude section, a total number of questions asked are 26. Out of these 26
                    questions <b>3.53%</b> of questions are from <b>Trigonometry</b>.</p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="highlight" #Teaching>
                  <h5>
                    Teaching
                    <span class="heading">Methodology</span>
                  </h5>
                  <br />
                  <ul>
                    <li>Concepts based solutions</li>
                    <li>Short cut methods</li>
                    <li>Spatial visualization</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="method" #sample>
                  <h5>Sample
                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                      Question</span>
                  </h5>
                  <br />
                  <h6><b>If the height of a pole is 2√3 meters and the length of its shadow is 2 meters, find the angle of elevation of the sun.
                    </b></h6>
                </div>
              </div>
            </div>
  
          <div class="container">
              <div class="row">
                <div class="method">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">
                        <h5>Approach-1</h5>
                        <h6>(Concept based solution)</h6>
                      </a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">
                        <h5>Approach-2</h5>
                        <h6>(Short cut method)</h6>
                      </a>
  
                    </div>
                  </nav>
  
  
  
  
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <img src="assets/images/Trigonometry-1.gif" alt="ages" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <img src="assets/images/Trigonometry-2.gif" alt="ages" class="img-fluid"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  