<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/voiceofindustry.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Business
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Analyst</span>
                                </h1><br>
                                <p>Unlock Your Potential with Our Comprehensive Business Analyst Course
                                </p>

                                <p>
                                    Are you ready to embark on a rewarding journey into the dynamic world of business
                                    analysis? Look no further! Our Business Analyst Course is meticulously designed to
                                    equip you with the essential skills and knowledge needed to excel in this thriving
                                    field.
                                </p>
                                <p>At Skill Lens, we understand the importance of staying ahead in today's competitive
                                    business landscape. That's why our course curriculum is crafted by industry experts
                                    who have years of experience in the field. From fundamentals to advanced techniques,
                                    we cover everything you need to know to thrive as a business analyst.</p>

                                <p>Through a blend of theoretical learning and hands-on practical exercises, you'll
                                    master crucial concepts such as requirements analysis, process modeling, data
                                    analysis, stakeholder management, and more. Our interactive sessions ensure that you
                                    not only grasp the theory but also develop the practical skills required to tackle
                                    real-world business challenges.</p>

                                <p>What sets our course apart is our commitment to personalized learning. Our
                                    experienced instructors provide individualized attention, guiding you every step of
                                    the way. Additionally, you'll have access to a wealth of resources, including case
                                    studies, industry insights, and networking opportunities to enhance your learning
                                    experience.</p>

                                <p>Whether you're a recent graduate looking to kickstart your career or a seasoned
                                    professional aiming to upskill, our Business Analyst Course caters to all levels of
                                    expertise. Join us today and unlock your potential to thrive in the ever-evolving
                                    world of business analysis. </p>
                            </div>

                        </div>
                    </div>

                    <div class="container">
                        <h1 class="mt-5">Find below the career journey (might change from company to company) of a
                            <span style="color:#f77c00;border-bottom:1px dashed #000;"> Business Analyst </span>
                        </h1><br>

                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-6 ">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 1 </div>
                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>Junior Business Analyst (Entry Level)</li>
                                        <li>Business Analyst</li>
                                        <li>Senior Business Analyst</li>
                                        <li>Lead Business Analyst</li>
                                        <li>Business Analyst Supervisor</li>
                                        <li>Business Analyst Manager</li>
                                        <li>Senior Business Analyst Manager</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 2 </div>
                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>Business Analyst Team Leader</li>
                                        <li>Business Analyst Consultant</li>
                                        <li>Principal Business Analyst</li>
                                        <li>Senior Consultant, Business Analysis</li>
                                        <li>Business Analysis Project Manager</li>
                                        <li>Business Analysis Director</li>
                                        <li>Senior Business Analysis Director</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 3 </div>

                                    <ul class="mb-5 list-unstyled mt-5">
                                        <li>Business Analysis Executive</li>
                                        <li>Senior Business Analysis Executive</li>
                                        <li>VP of Business Analysis</li>
                                        <li>Senior VP of Business Analysis</li>
                                        <li>Executive VP of Business Analysis</li>
                                        <li>Chief Business Analysis Officer</li>
                                        <li>Sr. Chief Business Analysis Officer</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <div class="ribon"> 4 </div>
                                    <ul class="mb-5 list-unstyled mt-3">
                                        <li>Executive Chief Business Analysis Officer</li>
                                        <li>Deputy Chief Business Analysis Officer</li>
                                        <li>Chief Strategy Officer</li>
                                        <li>Chief Executive Officer</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>