<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/problem-solving.gif" alt="problem-solving-banner" />
    </div>
</div>
<div class="container">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="banker">
                        <div class="container">
                            <h5 style="text-align: center;">
                                <span style="color:#f77c00;border-bottom:1px dashed #000;">Statement and
                                    Conclusions</span>
                            </h5><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Statement)">Concept</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="shiksha" #Statement>
                                <h5>The Concept of

                                    <span class="heading">Statement and Conclusions</span>
                                </h5>
                                <br />
                                <p>
                                    Questions from the statement and conclusions topic comprise a statement followed by
                                    a set of conclusions for the same. Candidates need to choose the most appropriate
                                    conclusion regarding the statement given.
                                </p>
                                <p>
                                    Mostly the biggest mistake which is made by candidates while solving the
                                    statement-conclusion questions is that they make assumptions while answering
                                    questions which ultimately leads to marking the incorrect option as a conclusion for
                                    the given statement.
                                </p>
                                <p>
                                    The statement and conclusion concept is common for all major exams conducted in the
                                    country and aspirants need to emphasize on the logical aspect of the concept. No
                                    assumptions, facts or information can be used to answer questions based on this
                                    concept and the data given in the statement is the only fact.
                                </p>
                                <p>
                                    Candidates must know that to answer questions from this topic, a candidate needs to
                                    analyse the information given and then select the most logical conclusion based on
                                    the statement.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method" #Research>
                                <h5>Our Research
                                    <span class="heading">
                                        & Findings</span>
                                </h5>
                                <br />
                                <h5 class="color">#IBPS PO</h5>
                                <p>
                                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>2.86%</b> of questions are from <b>Statement and Conclusions</b>.
                                </p>
                                <h5 class="color">#SBIPO</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>3.57%</b> of questions are from <b>Statement and Conclusions</b>.</p>
                                <h5 class="color">#TCSNQT</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 26.
                                    Out of these 26
                                    questions <b>3.53%</b> of questions are from <b>Statement and Conclusions</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight" #Teaching>
                                <h5>
                                    Teaching
                                    <span class="heading">Methodology</span>
                                </h5>
                                <br />
                                <ul>
                                    <li>Concepts based solutions</li>
                                    <li>Short cut methods</li>
                                    <li>Spatial visualization</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="method" #sample>
                                <h5>Sample
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                                        Question</span>
                                </h5>
                                <br />
                                <h6><b>In a Test match played between India and Australia, the total runs made by the
                                        Indian team were 200. 160 runs out of 200 runs were made by spinners.
                                    </b></h6>
                                <h6>
                                    <b>Conclusion I:</b> 80% of the team consists of spinners
                                </h6>
                                <h6>
                                    <b>Conclusion II:</b> The opening batsmen were spinners
                                </h6>
                                <p>
                                    1. Only Conclusion I is true
                                </p>
                                <p>
                                    2. Only Conclusion II is true
                                </p>
                                <p>
                                    3. Both Conclusion I and II are true
                                </p>
                                <p>4. Neither Conclusion I nor II is true</p>
                                <p>5. Either Conclusion I or II is true</p>

                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                            href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                            <h5>Approach-1</h5>
                                            <h6>(Concept based solution)</h6>
                                        </a>

                                    </div>
                                </nav>




                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <img src="assets/images/statement-1.gif" alt="ages" class="img-fluid">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>