<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/problem-solving.gif" alt="problem-solving-banner" />
    </div>
</div>
<div class="container">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="banker">
                        <div class="container">
                            <h5 style="text-align: center;">
                                <span style="color:#f77c00;border-bottom:1px dashed #000;">Venn Diagram</span>
                            </h5><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Venn)">Concept</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Research)">Our Research & Findings</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(Teaching)">Teaching Methodology</a></h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="acc">
                                        <h4><a [routerLink]="" (click)="scroll(sample)">Sample Question</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="shiksha" #Venn>
                                <h5>The Concept of

                                    <span class="heading">Venn Diagram</span>
                                </h5>
                                <br />
                                <p>
                                    A Venn diagram is a diagram that shows the relationship between and among a finite
                                    collection of sets.
                                </p>
                                <p>
                                    If we have two or more sets, we can use a Venn diagram to show the logical
                                    relationship among these sets as well as the cardinality of those sets. In
                                    particular, Venn Diagrams are used to demonstrate De Morgan's Laws.
                                </p>
                                <p>
                                    Venn diagrams are also useful in illustrating relationships in statistics,
                                    probability, logic, and more. Venn diagrams are particularly useful in helping us
                                    think carefully about set operations as they give us a visual depiction of the
                                    relationships involved.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method" #Research>
                                <h5>Our Research
                                    <span class="heading">
                                        & Findings</span>
                                </h5>
                                <br />
                                <h5 class="color">#IBPS PO</h5>
                                <p>
                                    As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>2.86%</b> of questions are from <b>Venn Diagram</b>.
                                </p>
                                <h5 class="color">#SBIPO</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 35.
                                    Out of these 35
                                    questions <b>3.57%</b> of questions are from <b>Venn Diagram</b>.</p>
                                <h5 class="color">#TCSNQT</h5>
                                <p>As a sample we have choosen the last 4 year's (2019, 2018, 2017, 2016) previously
                                    asked question
                                    papers. In quatitative aptitude section, a total number of questions asked are 26.
                                    Out of these 26
                                    questions <b>3.53%</b> of questions are from <b>Venn Diagram</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight" #Teaching>
                                <h5>
                                    Teaching
                                    <span class="heading">Methodology</span>
                                </h5>
                                <br />
                                <ul>
                                    <li>Concepts based solutions</li>
                                    <li>Short cut methods</li>
                                    <li>Spatial visualization</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="method" #sample>
                                <h5>Sample
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">
                                        Question</span>
                                </h5>
                                <br />
                                <h6><b>Which of the following Venn diagrams best represent the relationship among
                                        "Actors, Producers, Directors"?
                                    </b></h6>
                                <img src="assets/images/venn.png" alt="problem-solving-banner" />
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                            href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                            <h5>Approach-1</h5>
                                            <h6>(Concept based solution)</h6>
                                        </a>

                                    </div>
                                </nav>




                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <img src="assets/images/venn.gif" alt="ages" class="img-fluid">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>