<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/corporatetraining.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Corporate
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Training</span>
                                </h1><br>
                                <p>We understand that in today's fast-paced corporate landscape, investing in employee
                                    development is crucial for staying ahead of the competition. That's why we offer
                                    comprehensive corporate training solutions tailored to meet the unique needs of your
                                    organization.
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="container mt-3">
                        <div class="row">
                            <div class="method">
                                <h1>Why Choose
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Us?</span>
                                </h1><br>
                                <ul>
                                    <li>Customized Training Programs</li>
                                    <li>Industry Experts</li>
                                    <li>Industry Experts</li>
                                    <li>Flexible Delivery Options - Online, Offline & Hybrid</li>
                                    <li>Measurable Results</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="container mt-3">
                        <div class="row">
                            <div class="shiksha method">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <h1 class="mt-3">Technical -
                                            <span style="color:#f77c00;border-bottom:1px dashed #000;"> Trainings</span>
                                        </h1><br>
                                        <ul>
                                            <li>Programming - C, DS, C++, C#.Net, Java, Python</li>
                                            <li>Web Development - Angular / React / Node</li>
                                            <li>SQL Server</li>
                                            <li>AWS & DevOps</li>
                                            <li>Software Testing (Manual & Automation)</li>
                                            <li>Sitecore</li>
                                            <li>SAP</li>
                                            <li>Scrum Master</li>
                                            <li>Business Analytics</li>
                                            <li>Power BI</li>
                                            <li>Tableau</li>
                                            <li>SharePoint</li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-sm-5">
                                        <h1 class="mt-3">Life Skills
                                            <span style="color:#f77c00;border-bottom:1px dashed #000;">
                                                Trainings</span>
                                        </h1><br>
                                        <ul>
                                            <li>Business Communication</li>
                                            <li>Behavioural Skills</li>
                                            <li>Customer Success</li>
                                            <li>Sales Training</li>
                                            <li>Leadership Training</li>
                                            <li>HR Training</li>
                                            <li>Business Analysis</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>