<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/voiceofindustry.png" alt="e-learning-banner">
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1>Coding with
                                    <span style="color:#f77c00;border-bottom:1px dashed #000;"> Java</span>
                                </h1><br>
                                <p>Java is a versatile and powerful programming language that has been a cornerstone of
                                    software development for decades. Whether you're a seasoned developer or just
                                    starting your coding journey, Java offers a wealth of opportunities and
                                    applications. </p>

                                <p>
                                    Java's popularity stems from its platform independence, robustness, and scalability.
                                    With Java, you can develop a wide range of applications, from simple desktop
                                    programs to complex enterprise-level software and mobile applications for Android
                                    devices.
                                </p>
                                <p>Our training aims to be your go-to resource for learning Java programming. We offer a
                                    structured and easy-to-follow curriculum suitable for beginners, covering everything
                                    from basic syntax to advanced concepts like multithreading, networking, and database
                                    connectivity. Our tutorials are accompanied by hands-on exercises and projects to
                                    reinforce learning and build practical skills.</p>
                                <p>Our training aims to be your go-to resource for learning Java programming. We offer a
                                    structured and easy-to-follow curriculum suitable for beginners, covering everything
                                    from basic syntax to advanced concepts like multithreading, networking, and database
                                    connectivity. Our tutorials are accompanied by hands-on exercises and projects to
                                    reinforce learning and build practical skills.</p>
                                <p>Whether you aspire to become a professional Java developer, enhance your coding
                                    skills, or simply explore the world of programming, our training has something for
                                    everyone. Join us on this exciting journey as we dive into the world of <b>coding
                                        using
                                        Java!</b></p>
                            </div>

                        </div>
                    </div>

                    <div class="container">
                        <h1 class="mt-5">Find below the career journey (might change from company to company) of a
                            <span style="color:#f77c00;border-bottom:1px dashed #000;"> Java developer</span>
                        </h1><br>



                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <b>0 to 8 Years of Experience</b>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 ">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 1 </div>
                                                    <p class="h-1 pt-5"><b>Junior Java Developer</b></p>
                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Entry-level position</li>
                                                        <li>Basic understanding of Java syntax and
                                                            principles</li>
                                                        <li>Assists senior developers with tasks
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 2 </div>
                                                    <p class="h-1 pt-5"><b>Associate Java Developer</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Increasing familiarity with Java frameworks and libraries
                                                        </li>
                                                        <li>Able to work on smaller tasks independently</li>
                                                        <li>Begins contributing to team projects
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 3 </div>
                                                    <p class="h-1 pt-5"><b>Intermediate Java Developer</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Proficient in core Java concepts</li>
                                                        <li>Developing proficiency in one or more Java frameworks (e.g.,
                                                            Spring,
                                                            Hibernate)</li>
                                                        <li>Takes ownership of medium-sized features or modules
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 4 </div>
                                                    <p class="h-1 pt-5"><b>Senior Java Developer</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Extensive experience with Java development</li>
                                                        <li>Mentors junior developers</li>
                                                        <li>Designs and implements complex features or systems
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 ">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 5 </div>
                                                    <p class="h-1 pt-5"><b>Lead Java Developer</b></p>
                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Leads small teams of developers</li>
                                                        <li>Participates in architectural decisions</li>
                                                        <li>Acts as a technical authority in Java development</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 6 </div>
                                                    <p class="h-1 pt-5"><b>Java Architect</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Designs and oversees the architecture of Java-based systems
                                                        </li>
                                                        <li>Works closely with stakeholders to understand requirements
                                                        </li>
                                                        <li>Guides teams in implementing best practices</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 7 </div>
                                                    <p class="h-1 pt-5"><b>Principal Java Engineer</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Sets technical direction for Java projects</li>
                                                        <li>Defines coding standards and best practices</li>
                                                        <li>Resolves complex technical challenges</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 8 </div>
                                                    <p class="h-1 pt-5"><b>Java Technical Lead</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Manages multiple Java development teams</li>
                                                        <li>Coordinates with other teams and departments</li>
                                                        <li>Ensures project timelines and quality standards are met</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <b>8 and above Years of Experience</b>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                        <div class="row mt-5">
                                            <div class="col-lg-3 col-md-6 ">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 9 </div>
                                                    <p class="h-1 pt-5"><b>Java Development Manager</b></p>
                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Oversees all Java development within the organization</li>
                                                        <li>Sets departmental goals and objectives</li>
                                                        <li>Manages budgets and resources</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 10 </div>
                                                    <p class="h-1 pt-5"><b>Director of Java Engineering</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Sets strategic direction for Java development</li>
                                                        <li>Collaborates with executives to align Java initiatives with
                                                            business
                                                            goals</li>
                                                        <li>Responsible for hiring and talent development</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 11 </div>
                                                    <p class="h-1 pt-5"><b>Vice President of Java Engineering</b></p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Leads multiple departments or business units</li>
                                                        <li>Shapes organizational policies related to Java technology
                                                        </li>
                                                        <li>Represents the organization in industry events</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                                                <div class="card d-flex align-items-center justify-content-center">
                                                    <div class="ribon"> 12 </div>
                                                    <p class="h-1 pt-5"><b>Senior Vice President of Java Engineering</b>
                                                    </p>

                                                    <ul class="mb-5 list-unstyled">
                                                        <li>Oversees all Java-related activities within the organization
                                                        </li>
                                                        <li>Drives innovation and R&D efforts in Java technology</li>
                                                        <li>Reports directly to the CEO or CTO</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
