<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/english-verbal-bnr.gif" alt="english-verbal-bnr" />
    </div>
</div>
<div class="container-fluid">
    <div class="banking">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1">
                <div class="left">
                    <div class="container">
                        <div class="row">
                            <div class="shiksha">
                                <h1 style="display: inline-block;">
                                    What is
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">English Language
                                        Skill?</span>
                                </h1>
                                <br />
                                <br>
                                <p>
                                    English is recognized as a universally accepted language for communication. Though
                                    universally
                                    accepted, in many countries, English is not a native language of communication. In
                                    the current digital
                                    scenario, English has become a language of necessity.
                                    If we put effort, systematically learn, it's an easy language. English language
                                    skills are all about
                                    Understanding, Reading, Writing, and Speaking in English. To excel in the English
                                    language, we need
                                    good word power
                                    which builds our verbal ability. Verbal ability in English is required to express
                                    our ideas in a way
                                    that is understandable by the other person.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="method">
                                <h1>
                                    Where
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">is it required?</span>
                                </h1>
                                <br />
                                <p>
                                    Verbal ability is a part of written test in all the competitive examinations. It is
                                    also an integral
                                    part of the campus hiring process.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="highlight">
                                <h1>
                                    Teaching
                                    <span style="color: #f77c00; border-bottom: 1px dashed #000">Methodology</span>
                                </h1>
                                <br />
                                <ul>
                                    <li>
                                        Video-based learning which helps improve your listening, reading skills
                                    </li>
                                    <li>Self-pace study to improve word power.</li>
                                    <li>Immersion method of learning throughout the course</li>
                                    <li>
                                        Continuous assessments to understand learning outcomes
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="syllabus">
                        <div class="container">
                            <h1 style="color: #f77c00; text-align: center">Syllabus</h1>
                            <br />
                            <div class="table-responsive-class">
                                <table class="custom_table">
                                    <thead>
                                        <tr>

                                            <th style="text-align: left">Topic Name</th>
                                            <th>No. of Videos</th>
                                            <th>Videos Links</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./adjectives']">Adjectives</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/wLK9A6FF7OY"
                                                    target="_blank">https://youtu.be/wLK9A6FF7OY</a>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./adverbs']">Adverbs</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/8f0A5QMadvQ"
                                                    target="_blank">https://youtu.be/8f0A5QMadvQ</a>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Articles</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>

                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./cloze-passage']">Cloze Passage</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/c5IzcXdUqyg"
                                                    target="_blank">https://youtu.be/c5IzcXdUqyg</a>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./conjunctions']">Conjunctions</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/Xv5rI4ic27E"
                                                    target="_blank">https://youtu.be/Xv5rI4ic27E</a>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Essay Writing</a>
                                            </td>
                                            <td data-title="Videos">5</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/BDdPYyqfCHg"
                                                    target="_blank">https://youtu.be/BDdPYyqfCHg</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./inferences']">Inferences</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/o90Z9mDUICg"
                                                    target="_blank">https://youtu.be/o90Z9mDUICg</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./interjections']">Interjections</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/mbPOFEC_1Ng"
                                                    target="_blank">https://youtu.be/mbPOFEC_1Ng</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./nouns']">Nouns</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">
                                                <a href="https://youtu.be/K3KzVBdTZkE"
                                                    target="_blank">https://youtu.be/K3KzVBdTZkE</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./one-word-substitution']">One Word Substitutions</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Ordering of Sentences</a>
                                            </td>
                                            <td data-title="Videos">5</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./parts-of-speech']">Parts of Speech</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./prefixes-and-suffixes']">Prefix and Suffix</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./prepositions']">Prepositions</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./pronouns']">Pronouns</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./reading-comprehension']">Reading Comprehension</a>
                                            </td>
                                            <td data-title="Videos">6</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Report Writing</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./root-words']">Root Words</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./sentence-correction']">Sentence Correction & Error
                                                    Detection</a>
                                            </td>
                                            <td data-title="Videos">4</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./sentence-completion']">Sentence Completion</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Subject Verb Agreement</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./synonyms-and-antonyms']">Synonyms & Antonyms</a>
                                            </td>
                                            <td data-title="Videos">2</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./syllable-and-syllable-stress']">Syllable and
                                                    Syllable stress</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Tenses</a>
                                            </td>
                                            <td data-title="Videos">6</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>

                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./verbs']">Verbs</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a [routerLink]="['./vocabulary-building']">Vocabulary Building</a>
                                            </td>
                                            <td data-title="Videos">1</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Topic" style="text-align: left">
                                                <a href="">Writing Skills</a>
                                            </td>
                                            <td data-title="Videos">3</td>
                                            <td data-title="Questions">coming soon</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>