<div class="container-fluid">
    <div class="banner">
        <img src="assets/images/banners/Assessments.png" alt="assesment-banner">
    </div>
</div>

<div class="container-fluid">
    <div class="banking">
        <div class="row">

            <div class="col-md-12 order-2 order-md-1">
                <div class="left">


                    <div class="container">
                        <div class="row">

                            <div class="shiksha">
                                <h1>What are <span style="color:#f77c00;border-bottom:1px dashed #000;">E-Assessments
                                        ?</span></h1><br>
                                <p>E-Assessments are the next level of traditional examinations. Though Online
                                    assessments / E-Assessments are considered to be the advancement of traditional
                                    examinations, these exams have become the most common. Many competitive
                                    examinations like IBPS, SBI, CAT, MAT, IELTS, SSC, RRB, Campus hiring companies, etc
                                    have already moved from the traditional mode of conduct of examinations to an
                                    internet-based examination system.
                                </p>
                                <p>At Skill Lens, each exam is created to give a feel of the actual examination. We
                                    follow the same test standards and time slots as set by the concerned exam hosting
                                    agency. Our exam platform gives you instant results which will
                                    help you to understand your areas of deficiency. Getting habituated to online
                                    assessments help you reduce nervousness and practice better for the actual exam.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">


                            <div class="method">
                                <h1>Why should be <span style="color:#f77c00;border-bottom:1px dashed #000;">Register
                                        for Mock Assessments</span></h1><br>
                                <ul>
                                    <li> Practice makes you better


                                    </li>
                                    <li>Understand exam time management


                                    </li>
                                    <li>Attend from your own place (Flexibility of time and location).


                                    </li>
                                    <li>Reduce exam fear/nervousness



                                    </li>
                                    <li> Debugging of code

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="highlight">
                                <h1>Highlights of <span style="color:#f77c00;border-bottom:1px dashed #000;"> our
                                        E-Assessment Platform</span></h1><br>
                                <ul>
                                    <li>Self Analysis made easy (Compare your current results with the past results)
                                    </li>
                                    <li>Comparative Analysis (Compare your results with all the candidates who have
                                        undergone the same assessment)</li>
                                    <li>Economical - Pocket-friendly pricing</li>
                                    <li> Section-wise score analysis</li>
                                    <li>One-stop test solution for Coding, Multiple Choice Questions, Fill in the
                                        blanks, Essay writing, Email Writing.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>